In [8]:
import pandas as pd
import re

In [9]:
def attendance(x):
    x = x.replace('-','')
    l = list(set(re.findall(r'\b[0-9]{13}\b',x)))
    return pd.DataFrame({"CNIC":l})

In [10]:
x = """
Ali Yaqoob3:58 PM
not from IT
Imran Ejaz3:58 PM
no from accounting.
Zeeshan Yaseen3:58 PM
Prediction and automation !
Ali Yaqoob3:59 PM
Automation, hence accuracy plus time saving.
Ali Yaqoob4:09 PM
chatgpt se hi search kerlen ge üòÅ
Ali Yaqoob4:21 PM
aammeen
Aijaz Ahmed5:36 PM
4520691925699
Abdulrafay Memon5:36 PM
45204-3483907-1
Zeeshan Yaseen5:36 PM
4220141892019
Syed Muzammil Haider5:36 PM
4210149039311
ShahzadAzam Hashmi5:36 PM
36302-4791284-7
Ali Yaqoob5:36 PM
4210150317619
M. A. Miher5:36 PM
3720117887067
syed daniyal5:36 PM
4250189782769
Dr Nadeem Shah5:36 PM
4130464926599
Iqra Talha5:37 PM
6110120315128
Sibtain Ahmed5:37 PM
41303-5613312-5
Imran Ejaz5:37 PM
Imran Ejaz 4200044884823
Ali Jilani5:37 PM
42201-1405671-9
Sundus Baloch5:37 PM
41201-0883673-2
Suhail Arif5:37 PM
Suhail Arif Hussain 422017677201
Sadiq Fazal5:37 PM
42101-7245686-0
Zain Naqvi5:37 PM
4220147830681
salman soorani5:37 PM
4210124505207
Umer Fariq5:37 PM
4220122685447
Hassan Qamar5:37 PM
Hassan Qamar 4220110629561
wardah siddiqui5:37 PM
4210166120772
muhammad anas5:37 PM
4210113165975
Saad Shoaib5:37 PM
41304-1401693-1
Nasir Ali5:37 PM
4330401845851
Fahad Aziz Khan5:38 PM
4220195795061
Muhammad Haneef5:38 PM
42201-3466487-5
MARYAM RASHID5:38 PM
42101-9854842-0
ehzam ahmed5:38 PM
42201-7632311-1
Ali Jilani5:38 PM
4220114056719
Raheel Sadruddin5:38 PM
4210129790553
Waleed Ahmed Siddiqui5:38 PM
4210195297779
Munir Mirza5:38 PM
42101-0575629-9
Hassan Saleem5:38 PM
42101-9952553-5
Ahmed Ali5:38 PM
42101-0724035-9
Hassan Qamar5:38 PM
4220110629561
Raheel Sadruddin5:38 PM
4210105390867
Mohsin Kamal5:39 PM
4230108855633
Arsalan Shaikh5:39 PM
42201-6205339-3
Ayaz Muhammad5:39 PM
45202-8263294-7 
Muhammad Ayaz
Present
Nasir Ali5:39 PM
4330401845851
Sadaf Tirmizi5:39 PM
42101-7246731-0
Sheza Shams5:39 PM
42201-0218814-0
Ayaz Muhammad5:39 PM
45202826329467
Zubair ,5:40 PM
1310104942039
Noman Younus5:40 PM
4220102372205
Suhail Arif5:40 PM
4220176777201
osama saleem5:40 PM
42201-8286143-9
42101-1693504-9
4220188550515
Muneeb Bhania5:41 PM
42101-3818298-7
Sundus Baloch5:41 PM
4120108836732
usama hanif5:41 PM
42101-3220905-9
Muneeb Bhania5:41 PM
42501-7775696-8
Ahmer Tariq5:41 PM
42201-3054964-3
Nasir Ali5:41 PM
Kamran
4230122270821
Umair Sajid5:41 PM
42201-1539594-3
Misbah Sabir5:42 PM
42101-5742100-4
Nasir Ali5:42 PM
Hassan
4240134843465
Misbah Sabir5:42 PM
42101-5802137-4
Qureshi Kainat5:42 PM
5540124860782
Misbah Sabir5:42 PM
4220108354184
Engr Mahmood Ul Hassan5:43 PM
4250185234859
Qureshi Kainat5:43 PM
4210157421004
Mohsin Kamal5:43 PM
4230108855633
Qureshi Kainat5:43 PM
4220187822116
4220178140796
upq-oxma-vmi
"""
df1 = attendance(x)
df1['c1'] = 1
print(len(df1))
df1.head()

58

            CNIC  c1
0  3630247912847   1
1  4210132209059   1
2  4250189782769   1
3  4220188550515   1
4  4220182861439   1

# Class2

In [11]:
x = """
Ahtisham Ali Khan3:49 PM
Present
Kamran Younus4:06 PM
Muhammad Kamran Younus 42301-2227082-1
Abdulrafay Memon4:10 PM
45204-3483907-1
Athar Khalid4:10 PM
why nic no?
Fahad Aziz Khan4:14 PM
its called Proprietary Products/Applications
Umer Fariq4:20 PM
cant see the shared screen
Imran Ejaz4:21 PM
Share the screen
Athar Khalid4:26 PM
gmail address is fine , sir
Kamran Younus4:30 PM
Anaconda 32 bit windows pe download ho Jaye ga?
Ifra Siddiqui4:36 PM
can you repeat once again?
M. A. Miher4:39 PM
print("Hello World?")
Imran Ejaz4:42 PM
sir jupitar per likh sukty hain?
Athar Khalid4:44 PM
done
Abdulrafay Memon4:50 PM
ji sir
Athar Khalid5:06 PM
recording drive pe share krdi  ha
Suhail Arif5:28 PM
4220176777201
insharah khan5:28 PM
4210131827012
Sundus Baloch5:28 PM
4120108835732
Ali Nawaz5:28 PM
4220157226073
Ayaz Muhammad5:28 PM
45202-8263294-7
M. A. Miher5:28 PM
3720117887067
Imran Ejaz5:28 PM
4200044884823
Muhammad Haneef5:28 PM
4220134664875
Nasir Ali5:28 PM
4330401845851
ShahzadAzam Hashmi5:28 PM
3630247912847
Mahnoor Arif5:28 PM
4220178140796
Farooq Ahmad5:28 PM
3520294446451
Noman Younus5:28 PM
4220102372205
Ifra Siddiqui5:28 PM
4250177756968
muhammad anas5:29 PM
4210113165975
Sibtain Ahmed5:29 PM
4130356133125
Abdul Mannan Khan5:29 PM
4220143572841
Abdulrafay Memon5:29 PM
4520434839071
daniyal5:29 PM
4250189782769
Zubair ,5:29 PM
1310104942039
Misbah Sabir5:29 PM
4210158021374
Fahad Aziz Khan5:29 PM
422019579065
salman soorani5:29 PM
4210124505207
Hassan Saleem5:29 PM
42101-9952553-5
Asad Khan5:29 PM
3830155517583
Athar Khalid5:29 PM
4210158892613
Fuzail Muzaffar5:29 PM
4250181112217
Sadiq Fazal5:29 PM
42101-7245686-0
Abdul Haseeb Khan5:29 PM
4220103084339
Farah Asif5:29 PM
3740680876662
Qureshi Kainat5:29 PM
5540124860782
Umair Sajid5:29 PM
4220115395943
osama saleem5:29 PM
4220182861439
ehzam ahmed5:29 PM
4220176323111
Saad Shoaib5:29 PM
4130414016931
Zafar Abbas5:29 PM
Zafar Abbas
Muneeb Bhania5:29 PM
4210138182987
Umer Fariq5:29 PM
4220122685447
Sadaf Tirmizi5:29 PM
42101-7245781-0
Atif Khan5:29 PM
4210102810113
Raheel Sadruddin5:29 PM
4210129790553
Hassan Qamar5:29 PM
4220110629561
Dr Nadeem Shah5:29 PM
4130464926599
wardah siddiqui5:29 PM
4210166120772
Mohsin Kamal5:29 PM
4230108855633
Munir Soorani5:29 PM
42101-0575629-9
Engr Mahmood Ul Hassan5:29 PM
4250185234859
Zafar Abbas5:29 PM
Zafar Abbas
37405-2371844-9
usama hanif5:29 PM
42101-3220905-9
Farah Asif5:29 PM
4210157421004
Ali Jilani5:29 PM
4220114056719
SHAHRUKH KHAN5:29 PM
4210105390867
Atif Khan5:30 PM
Atif shahzad 4210102810113
Raja Waleed5:30 PM
4220188550515
SHAHRUKH KHAN5:30 PM
4210116935049
Arsalan Shaikh5:30 PM
42201-6205339-3
Farah Asif5:30 PM
4220187822116
Syed Muzammil Haider5:30 PM
4210149039311
Farah Asif5:30 PM
4320307738760
Sadaf Tirmizi5:31 PM
42101-7245781-0
Maria Noor Amjad5:31 PM
61101-1956982-0
Syed Muzammil Haider5:31 PM
4210172457810
Aimen Iftikhar5:31 PM
Aimen
4220177849728
Sheza Shams5:31 PM
4220102188140
Rida Batool5:31 PM
42101-7245781-0
Umair Sajid5:32 PM
4140703835369
Mohsin Kamal5:32 PM
4230108855633
Umair Sajid5:32 PM
42101-2548111-7
Ahmed Ali5:32 PM
42101-0724035-9
Nasir Ali5:32 PM
Muhammad Sameer
4230135829705
Ali Yaqoob5:32 PM
4210150317619
obaid rehman5:34 PM
4240113406009
3630230577559
upq-oxma-vmi
"""
df2 = attendance(x)
print(len(df2))
df2['c2'] = 1
df2.head()

67

            CNIC  c2
0  3630247912847   1
1  4210132209059   1
2  4250189782769   1
3  3520294446451   1
4  4210131827012   1

In [12]:
x = """
Engr Mahmood Ul Hassan4:00‚ÄØPM
4250185234859
Abdul Haseeb Khan4:01‚ÄØPM
4220103084339
amir sohail4:01‚ÄØPM
4140703835369
Fahad Aziz Khan4:01‚ÄØPM
4220195795065
Usama Ahmed4:01‚ÄØPM
61101-9688391-5
Hina Hyder4:01‚ÄØPM
43203-0773876-0
Saad Shoaib4:02‚ÄØPM
4130414016931
M. A. Miher4:02‚ÄØPM
3720117887067
sadia faiyaz4:02‚ÄØPM
yes
Ali Jilani4:02‚ÄØPM
Jee sir
4220114056719
Athar Khalid4:02‚ÄØPM
4210158892613
Suhail Arif4:02‚ÄØPM
Suhail Arif Hussain 422017677201
Farah Asif4:03‚ÄØPM
3740680876662
Imran Ejaz4:03‚ÄØPM
4200044884823
Ali Yaqoob4:04‚ÄØPM
4210150317619
Umair Sajid4:04‚ÄØPM
42201-1539594-3
Farooq Ahmad4:04‚ÄØPM
3520294446451
Ayaz Muhammad4:05‚ÄØPM
4520282632947
Abdul Mannan Khan4:05‚ÄØPM
4220143572841
Muhammad Uzair4:05‚ÄØPM
4210125481117
osama saleem4:07‚ÄØPM
4220182861439
M. A. Miher4:10‚ÄØPM
screen not shared
Ali Yaqoob4:17‚ÄØPM
games
Abdul Haseeb Khan4:17‚ÄØPM
Car's make model variant
are attributes
Ali Yaqoob4:21‚ÄØPM
Function :  How to use
Attribute : How to identify
Muhammad Usama4:28‚ÄØPM
Sir, I have some issues with microphone
Can we do the same on Google Colab
instead of Jupyter Notebook
Ali Yaqoob4:36‚ÄØPM
yes
Muhammad Usama4:48‚ÄØPM
difference between double quote and single quote ?
Sheza Shams4:51‚ÄØPM
sir, you dont need inverted commas for integer and float?
M. A. Miher4:52‚ÄØPM
date or time?
Muhammad Usama4:54‚ÄØPM
yes
insharah khan4:55‚ÄØPM
kindly share link of class
Sheikh Meraj Uddin4:56‚ÄØPM
Class Code please
Ali Yaqoob4:56‚ÄØPM
https://classroom.google.com/c/NTgxNTQxNjg4MTA2
Sheikh Meraj Uddin4:57‚ÄØPM
not connected
Ali Yaqoob4:57‚ÄØPM
sir i m already viewing it
Muhammad Usama4:58‚ÄØPM
username
Sheikh Meraj Uddin4:58‚ÄØPM
skmairaj@gmail.com
Ali Yaqoob4:59‚ÄØPM
aap login hain already?
Muhammad Usama4:59‚ÄØPM
I was just telling example for a variable
pictures
Owais Ahmed5:00‚ÄØPM
class code no?
Ali Yaqoob5:00‚ÄØPM
https://classroom.google.com/c/NTgxNTQxNjg4MTA2

complete link
Sheikh Meraj Uddin5:00‚ÄØPM
logged in on meet
Owais Ahmed5:00‚ÄØPM
owaisahmed783@gmail.com
Ali Yaqoob5:01‚ÄØPM
sir usi browser mai new tab mai try kerain yeh link
Sheikh Meraj Uddin5:05‚ÄØPM
Still class not found
Ali Yaqoob5:07‚ÄØPM
sir its permission issue i guess then
Sheikh Meraj Uddin5:07‚ÄØPM
May b
Ali Yaqoob5:08‚ÄØPM
coz i have tried by using another ID and observed the same error 'class not found'.
Muhammad Usama5:21‚ÄØPM
sir integer k liye yeh ID nahi aati ?
Engr Mahmood Ul Hassan5:23‚ÄØPM
Memory size?
Aijaz Ahmed5:24‚ÄØPM
no memoery address
Muhammad Usama5:26‚ÄØPM
# detay hain
Sir attendance laga den
Zeeshan Yaseen5:34‚ÄØPM
variable
Muhammad Usama5:34‚ÄØPM
variable
Hassan Qamar5:43‚ÄØPM
4220110629561
Ali Nawaz5:44‚ÄØPM
4220157226073
Noor Saba5:44‚ÄØPM
4220187822116
Zeeshan Yaseen5:44‚ÄØPM
yes
amir sohail5:44‚ÄØPM
4240113406009
daniyal5:44‚ÄØPM
4250189782769
Dr Nadeem Shah5:44‚ÄØPM
4130464926599
Raja Waleed5:45‚ÄØPM
422018855055
sadia faiyaz5:45‚ÄØPM
4210157421004
Fuzail Muzaffar5:45‚ÄØPM
4250181112217
salman soorani5:45‚ÄØPM
4210124505207
Munir Mirza5:45‚ÄØPM
42101-0575629-9
Muhammad Haneef5:45‚ÄØPM
4220134664875
Arsalan Shaikh5:45‚ÄØPM
42201-6205339-3
Muneeb Bhania5:45‚ÄØPM
4210138182987
Insharah Khan5:46‚ÄØPM
4210131827012
ShahzadAzam Hashmi5:46‚ÄØPM
3630247912847
Muneeb Bhania5:46‚ÄØPM
4250177756968
ehzam ahmed5:46‚ÄØPM
4220176323111
Imran Ejaz5:46‚ÄØPM
4200044884823
Maria Noor Amjad5:46‚ÄØPM
6110119569820
Mahnoor Arif5:47‚ÄØPM
4220178140796
Qureshi Kainat5:47‚ÄØPM
5540124860782
Zeeshan Yaseen5:47‚ÄØPM
4220141892019
Nasir Ali5:47‚ÄØPM
4330401845851
Ali Yaqoob5:47‚ÄØPM
4210150317619
Mohsin Kamal5:47‚ÄØPM
4230108855633
Abdul Mannan Khan5:47‚ÄØPM
4220143572841
Muhammad Usama5:47‚ÄØPM
4220115395943
osama saleem5:47‚ÄØPM
4220182861439
SHAHRUKH KHAN5:47‚ÄØPM
4210105390867
Aijaz Ahmed5:47‚ÄØPM
4520691925699
muhammad anas5:47‚ÄØPM
4210113165975
Hina Hyder5:47‚ÄØPM
43203-0773876-0
Zubair ,5:47‚ÄØPM
1310104942039
Raheel Sadruddin5:47‚ÄØPM
4210129790553
Umer Fariq5:47‚ÄØPM
4220122685447
Hassan Saleem5:47‚ÄØPM
4210199525535
Ahsan Fayyaz5:47‚ÄØPM
4220115069023
Sibtain Ahmed5:47‚ÄØPM
4130356133125
Syed Muzammil Haider5:47‚ÄØPM
4210149039311
Rida Batool5:47‚ÄØPM
42101-7245781-0
Suhail Arif5:47‚ÄØPM
Suhail Arif Hussain 4220176777201
Saad Shoaib5:47‚ÄØPM
4130414016931
Wajid Khan5:47‚ÄØPM
42101-1693504-9
usama hanif5:47‚ÄØPM
42101-3220905-9
Sadiq Fazal5:47‚ÄØPM
42101-7245686-0
Misbah Sabir5:47‚ÄØPM
4210158021374
Usama Ahmed5:48‚ÄØPM
6110196883915
Noman Younus5:48‚ÄØPM
4220102372205
Nasir Ali5:48‚ÄØPM
Muhammad Hasan
4240134843465
Sheza Shams5:48‚ÄØPM
42201-0218814-0
Ali Mehdi5:48‚ÄØPM
4220193871331
Mohsin Kamal5:48‚ÄØPM
4230108855633
Sheikh Meraj Uddin5:49‚ÄØPM
4210192333399
Owais Ahmed5:49‚ÄØPM
Syed Owais Ahmed
42201-0319489-3
Rida Batool5:49‚ÄØPM
4210172457810
Kamran Younus5:49‚ÄØPM
4230122270821
Iqra Talha5:50‚ÄØPM
6110120315128
upq-oxma-vmi
"""

df3 = attendance(x)
print(len(df3))
df3['c3'] = 1
df3.head()

66

            CNIC  c3
0  3630247912847   1
1  4210132209059   1
2  4250189782769   1
3  3520294446451   1
4  4220182861439   1

In [13]:
x = """
Sibtain Ahmed5:20‚ÄØPM
4130356133125
Muhammad Haneef5:21‚ÄØPM
No Sir
Engr Mahmood Ul Hassan5:21‚ÄØPM
4250185234859
Ahmed Ali5:22‚ÄØPM
42101-0724035-9
Ali Jilani5:22‚ÄØPM
4220114056719
Athar Khalid5:23‚ÄØPM
4210158892613
Ali Affan Yaqoob5:23‚ÄØPM
4210150317619
Muhammad Hasan5:26‚ÄØPM
4240134843465
Areeba Ghazal5:26‚ÄØPM
4220108354184
Qureshi Kainat5:26‚ÄØPM
5540124860782
Raja Waleed5:26‚ÄØPM
4220188550515
Abdulrafay Memon5:27‚ÄØPM
4520434839071
Suhail Arif5:27‚ÄØPM
Suhail Arif HUssain 4220176777201
Abdul Haseeb Khan5:27‚ÄØPM
4220103084339
NASIR ALI5:27‚ÄØPM
4330401845851
Munir Mirza5:27‚ÄØPM
42101-0575629-9
Ali Jilani5:27‚ÄØPM
4220114056719
Dr Nadeem Shah5:27‚ÄØPM
4130464926599
Muhammad Uzair5:30‚ÄØPM
4210125481117
Ali Jilani5:31‚ÄØPM
Camel notations
Abdulrafay Memon5:33‚ÄØPM
4520434839071
Hina Hyder5:47‚ÄØPM
43203-0773876-0
daniyal5:47‚ÄØPM
4250189782769
Misbah Sabir5:47‚ÄØPM
4210158021374
Muneeb Bhania5:47‚ÄØPM
4210138182987
Abdul Mannan Khan5:47‚ÄØPM
4220143572841
Fuzail Muzaffar5:48‚ÄØPM
4250181112217
Imran Ejaz5:48‚ÄØPM
4200044884823
ShahzadAzam Hashmi5:48‚ÄØPM
36302-4791284-7
Zeeshan Yaseen5:52‚ÄØPM
PLACEHOLDERS
Arsalan Shaikh5:52‚ÄØPM
42201-6205339-3
Maria Noor Amjad5:52‚ÄØPM
6110119569820
amir sohail5:53‚ÄØPM
4140703835369
Aimen Iftikhar5:53‚ÄØPM
42201-7784972-8
Aijaz Ahmed5:53‚ÄØPM
Age, capitalize A
Muhammad Haneef5:55‚ÄØPM
4220134664875
Ali Nawaz5:55‚ÄØPM
4220157226073
Hassan Qamar5:59‚ÄØPM
4220110629561
osama saleem6:00‚ÄØPM
4220182861439
sadia faiyaz6:00‚ÄØPM
4210157421004
Hassan Saleem6:00‚ÄØPM
4210199525535
Iqra Talha6:01‚ÄØPM
6110120315128
ali soorani6:01‚ÄØPM
4210124505207
Insharah Khan6:01‚ÄØPM
4210131827012
Ali Mehdi6:04‚ÄØPM
4220193871331
Owais Ahmed6:05‚ÄØPM
4220103194893
Waleed Ahmed Siddiqui6:05‚ÄØPM
4210195297779
Engr Mahmood Ul Hassan6:06‚ÄØPM
Namaz break
Sheikh Meraj Uddin6:06‚ÄØPM
4210192333399
Farah Asif6:06‚ÄØPM
3740680876662
Fahad Aziz Khan6:07‚ÄØPM
4220195795065
Misbah Sabir6:20‚ÄØPM
sir my mic is not working I  have a question agr hmare pas bht bara data ha to hm indexing ya sequencing kese krenge like its time taking to count
daniyal6:21‚ÄØPM
kindly define tuple
kindly define sequence and list of python
daniyal6:22‚ÄØPM
why we use % sign
daniyal6:24‚ÄØPM
why use F 
daniyal6:25‚ÄØPM
anyone can ask from sir why we use f""''
daniyal6:29‚ÄØPM
no sir
file import and and dataframe show karwaya hai
ali soorani6:33‚ÄØPM
your voice gone
Ali Affan Yaqoob6:34‚ÄØPM
ali bhai aap k net ka issue hoga maybe. yahan tau audible hain sir
daniyal6:39‚ÄØPM
what is tuple
Ali Affan Yaqoob6:39‚ÄØPM
sir ne kaha hai k bad mai batayen ge
its too early for that
Zaib Batool6:42‚ÄØPM
42101-7245686-0
Dr Nadeem Shah6:42‚ÄØPM
4130464926599
daniyal6:42‚ÄØPM
do we do regular expression in this course ?
Raheel Sadruddin6:42‚ÄØPM
4210129790553
wardah siddiqui6:43‚ÄØPM
4210166120772
Muneeb Bhania6:43‚ÄØPM
4210138182987
Wajid Khan6:49‚ÄØPM
42101-1693504-9
Sibtain Ahmed6:51‚ÄØPM
4130356133125
daniyal6:53‚ÄØPM
yes sir
tru
true
daniyal6:55‚ÄØPM
\t means and why we use tap
space
in formation
Saad Shoaib6:57‚ÄØPM
4130414016931
Engr Mahmood Ul Hassan6:57‚ÄØPM
4250185234859
Raja Waleed6:57‚ÄØPM
4220188550515
Saad Shoaib6:57‚ÄØPM
4130414016931
Abdul Haseeb Khan6:57‚ÄØPM
4220103084339
Zubair ,6:57‚ÄØPM
1310104942039
Abdul Mannan Khan6:57‚ÄØPM
4220143572841
Ali Affan Yaqoob6:57‚ÄØPM
42101-5031761-9
Ali Nawaz6:58‚ÄØPM
4220157226073
Mohsin Kamal6:58‚ÄØPM
4230108855633
ali soorani6:58‚ÄØPM
4210124505207
Noor Saba6:58‚ÄØPM
4220187822116
Usama Ahmed6:58‚ÄØPM
61101-9688391-5
muhammad anas6:58‚ÄØPM
4210113165975
Imran Ejaz6:58‚ÄØPM
4200044884823
Hassan Qamar6:58‚ÄØPM
4220110629561
Nasir Ali6:58‚ÄØPM
4330401845851
Abdulrafay Memon6:58‚ÄØPM
4520434839071
Noman Younus6:58‚ÄØPM
4220102372205
Sibtain Ahmed6:58‚ÄØPM
4130356133125
Dr Nadeem Shah6:58‚ÄØPM
4130464926599
Fahad Aziz Khan6:58‚ÄØPM
4220195795065
Ahtisham Ali Khan6:58‚ÄØPM
3830155517583
Aijaz Ahmed6:58‚ÄØPM
4520691925699
Raja Waleed6:58‚ÄØPM
4220188550515
Zeeshan Yaseen6:58‚ÄØPM
4220141892019
Mahnoor Arif6:58‚ÄØPM
4220178140796
Insharah Khan6:59‚ÄØPM
4210131827012
Syed Muzammil Haider6:59‚ÄØPM
4210149039311
Misbah Sabir6:59‚ÄØPM
4210158021374
SHAHRUKH KHAN6:59‚ÄØPM
4210105390867
osama saleem6:59‚ÄØPM
4220182861439
Athar Khalid6:59‚ÄØPM
4210158892613
Rida Batool6:59‚ÄØPM
4210172457810
Noman Younus6:59‚ÄØPM
4210105756299
ShahzadAzam Hashmi6:59‚ÄØPM
3630247912847
Sheza Shams6:59‚ÄØPM
42201-0218814-0
Raheel Sadruddin6:59‚ÄØPM
4210129790553
Suhail Arif6:59‚ÄØPM
suhail arif hussain 4220176777201
Mohsin Kamal6:59‚ÄØPM
4230108855633
ifra siddiqui6:59‚ÄØPM
4250177756958
usama hanif6:59‚ÄØPM
42101-3220905-9
wardah siddiqui6:59‚ÄØPM
4210166120772
Ahmed Ali6:59‚ÄØPM
4210107240359
Hina Hyder6:59‚ÄØPM
hina hyder 43203-0773876-0
Muhammad Hasan7:00‚ÄØPM
4240134843465
upq-oxma-vmi"""

df4 = attendance(x)
print(len(df4))
df4['c4'] = 1
df4.head()

65

            CNIC  c4
0  3630247912847   1
1  4210132209059   1
2  5540124860782   1
3  4220188550515   1
4  4250189782769   1

In [14]:
x = """
Suhail Arif4:08‚ÄØPM
Suhail Arif Hussain 4220176777201
Wajid Khan4:09‚ÄØPM
42101-1693504-9
Areeba Ghazal4:09‚ÄØPM
4220108354184
Umair Sajid4:09‚ÄØPM
4220115395943
MAAZ AHMED4:09‚ÄØPM
attendance? Roll No	AIC036044
Athar Khalid4:10‚ÄØPM
4210158892613
Ali Affan Yaqoob4:10‚ÄØPM
42101-5031761-9
Athar Khalid4:13‚ÄØPM
casting
Sadaf Tirmizi4:13‚ÄØPM
42101-7246731-0
Ali Jilani4:14‚ÄØPM
4220114056719
Muhammad Uzair4:15‚ÄØPM
4210125481117
Aimen Iftikhar4:15‚ÄØPM
42201 77849728
Sadaf Tirmizi4:16‚ÄØPM
4210172457810
Ahmed Ali4:16‚ÄØPM
42101-0724035-9
Qureshi Kainat4:16‚ÄØPM
5540124860782
osama saleem4:17‚ÄØPM
4220182861439
Rida Batool4:17‚ÄØPM
4210172457810
Rida Batool4:18‚ÄØPM
4210172456860
Aimen Iftikhar4:20‚ÄØPM
You have converted type int to str
Sheikh Meraj Uddin4:23‚ÄØPM
4210192333399
Farah Asif4:23‚ÄØPM
3740680876662
dani4:23‚ÄØPM
4250189782769
Ayaz Muhammad4:24‚ÄØPM
4520282632947
MAAZ AHMED4:27‚ÄØPM
why CNIC number?
Umair Sajid4:28‚ÄØPM
asterik
Muhammad Haris Bin Khalid4:28‚ÄØPM
42101-0124403-1 (Haris Khalid)
Sameer abid4:29‚ÄØPM
Muhammad Sameer
ShahzadAzam Hashmi4:29‚ÄØPM
3630247912847
Muneeb Bhania4:29‚ÄØPM
4210138182987
Sameer abid4:29‚ÄØPM
Muhammad Sameer 4230135829705
MAAZ AHMED4:29‚ÄØPM
https://www.collinsdictionary.com/dictionary/english/asterisk An asterisk is the sign *. It is used especially to indicate that there is further information about something in another part of the text.
Mohsin Kamal4:38‚ÄØPM
4230108855633
MAAZ AHMED4:53‚ÄØPM
break 5 min
https://www.w3schools.com/python/python_operators.asp
Muhammad Hasan4:55‚ÄØPM
4240134843465
Abdul Haseeb Khan4:55‚ÄØPM
4220103084339
Engr Mahmood Ul Hassan5:00‚ÄØPM
4250185234859
Muneeb Bhania5:01‚ÄØPM
4210138182987
Misbah Sabir5:02‚ÄØPM
4210158021374
Ali Mehdi5:02‚ÄØPM
4220193871331
Owais Ahmed5:08‚ÄØPM
4220103194893
Imran Ejaz5:08‚ÄØPM
4200044884823
MAAZ AHMED5:08‚ÄØPM
Why sharing CNIC numbers?
Muhammad Uzair5:08‚ÄØPM
for attendence
Ali Affan Yaqoob5:08‚ÄØPM
MAAZ BHAI ATTENDANCE ESE HI LAGAY GI
Imran Ejaz5:08‚ÄØPM
attendance
Hassan Qamar5:08‚ÄØPM
4220110629561
NASIR ALI5:09‚ÄØPM
4330401845851
Abdul Mannan Khan5:09‚ÄØPM
4220143572841
muhammad anas5:09‚ÄØPM
4210113165975
obaid rehman5:09‚ÄØPM
4240113406009
Hassan Saleem5:10‚ÄØPM
4210199525535
osama saleem5:14‚ÄØPM
4220182861439
wardah siddiqui5:15‚ÄØPM
4210166120772
MAAZ AHMED5:15‚ÄØPM
42201-8174960-1 MAAZ AHMED
Iqra Talha5:15‚ÄØPM
6110120315128
Sibtain Ahmed5:16‚ÄØPM
4130356133125
Noman Younus5:16‚ÄØPM
4220102372205
Zeeshan Yaseen5:17‚ÄØPM
4220141892019
Ali Nawaz5:17‚ÄØPM
4220157226073
Maria Noor Amjad5:17‚ÄØPM
6110119569820
obaid rehman5:23‚ÄØPM
36302-3057755-9
Munir Mirza5:29‚ÄØPM
42101-0575629-9
Hina Hyder5:30‚ÄØPM
hina hyder
Sheza Shams5:30‚ÄØPM
42201-0218814-0
Hina Hyder5:30‚ÄØPM
43203-0773876-0
hina hyder
SHAHRUKH KHAN5:30‚ÄØPM
4210105390867
Raja Waleed5:31‚ÄØPM
42201-8855051-5
Dr Nadeem Shah5:32‚ÄØPM
41304-6492659-9
Abdul Mannan Khan5:34‚ÄØPM
4220143572841
Ifra Siddiqui5:34‚ÄØPM
4250177756968
Ali Affan Yaqoob5:36‚ÄØPM
42101-5031761-9
Umer Fariq5:37‚ÄØPM
4220122685447
Mohsin Kamal5:37‚ÄØPM
4230108855633
ehzam ahmed5:37‚ÄØPM
4220176323111
M. A. Miher5:37‚ÄØPM
3720117887067
Zubair ,5:37‚ÄØPM
1310104942039
Raheel Sadruddin5:37‚ÄØPM
4210129790553
NASIR ALI5:37‚ÄØPM
4330401845851
Munir Mirza5:37‚ÄØPM
42101-0575629-9
Abdul Haseeb Khan5:37‚ÄØPM
4220103084339
ShahzadAzam Hashmi5:37‚ÄØPM
3630247912847
Ahtisham Ali Khan5:37‚ÄØPM
3830155517583
Umair Sajid5:37‚ÄØPM
42201-1539594-3 Umair Sajid
Saad Shoaib5:37‚ÄØPM
41304-1401693-1
Noor Saba5:37‚ÄØPM
4220187822116
Syed Muzammil Haider5:37‚ÄØPM
4210149039311
Usama Ahmed5:37‚ÄØPM
61101-9688391-5
Suhail Arif5:37‚ÄØPM
Suail Arif Hussain 4220176777201
ali soorani5:37‚ÄØPM
4210124505207
Mahnoor Arif5:37‚ÄØPM
4220178140796
Ali Jilani5:37‚ÄØPM
4220114056719
Ali Nawaz5:37‚ÄØPM
4220157226073
Fahad Aziz Khan5:37‚ÄØPM
4220195795065
usama hanif5:37‚ÄØPM
42101-3220905-9
NASIR ALI5:38‚ÄØPM
4240134843465
Muhammad Haris Bin Khalid5:38‚ÄØPM
42101-0124403-1
Noman Younus5:38‚ÄØPM
4220102372205
Misbah Sabir5:38‚ÄØPM
4210158021374
Ahtisham Ali Khan5:38‚ÄØPM
3830155517583
MAAZ AHMED5:38‚ÄØPM
ONSITE / PHYSICAL CLASS HOI HAY KOI ABHI TAK ?
MARYAM RASHID5:39‚ÄØPM
4210198548420
Ayaz Muhammad5:39‚ÄØPM
4520282632947
Mohsin Kamal5:40‚ÄØPM
4230108855633
Kamran Younus5:41‚ÄØPM
4230122270821
please sir mark my attendance
Fuzail Muzaffar5:42‚ÄØPM
4250181112217
You5:43‚ÄØPM
https://github.com/EnggQasim/NED-batch4-Python/blob/main/class5/OperatorsInPython.ipynb
Ahsan Fayyaz5:43‚ÄØPM
4220115069023
Abdul Haseeb Khan5:44‚ÄØPM
Good suggestion Wajid
upq-oxma-vmi
"""

df5 = attendance(x)
print(len(df5))
df5['c5'] = 1
df5.head()

70

            CNIC  c5
0  3630247912847   1
1  4210132209059   1
2  5540124860782   1
3  4250189782769   1
4  4220182861439   1

In [15]:
x = """
Engr Mahmood Ul Hassan5:24‚ÄØPM
4250185234859
Sadaf Tirmizi5:26‚ÄØPM
42101-7246731-0
Suhail Arif5:28‚ÄØPM
Suhail Arif Hussain  4220176777201
Sadaf Tirmizi5:28‚ÄØPM
4210172457810
Imran Ejaz5:29‚ÄØPM
4200044884823
Ali Mehdi5:29‚ÄØPM
4220193871331
sadia faiyaz5:29‚ÄØPM
4210157421004
Athar Khalid5:30‚ÄØPM
4210158892613
Munir Mirza5:31‚ÄØPM
42101-0575629-9
Rida Batool5:31‚ÄØPM
4210172457810
Ali Jilani5:31‚ÄØPM
4220114056719
Ahmed Ali5:32‚ÄØPM
42101-0724035-9
Ali Nawaz5:35‚ÄØPM
4220157226073
Qureshi Kainat5:36‚ÄØPM
5540124860782
Insharah Khan5:47‚ÄØPM
4210131827012
Hammad Villana5:59‚ÄØPM
4210125481117
4240113406009
ali soorani5:59‚ÄØPM
4210124505207
Hammad Villana6:00‚ÄØPM
3630230577559
muhammad anas6:00‚ÄØPM
4210113165975
Aimen Iftikhar6:00‚ÄØPM
42201 77849728
Misbah Sabir6:07‚ÄØPM
4210158021374
Abdulrafay Memon6:08‚ÄØPM
4520434839071
Farah Asif6:12‚ÄØPM
3740680876662
Noman Younus6:13‚ÄØPM
4220102372205
usama hanif6:14‚ÄØPM
4210132209059
MARYAM RASHID6:21‚ÄØPM
4210198548420
Ahsan Fayyaz6:22‚ÄØPM
4220115069023
Sadiq Fazal6:28‚ÄØPM
42101-7245686-0
Ahsan Fayyaz6:29‚ÄØPM
2 dimensional list
Zeeshan Yaseen6:34‚ÄØPM
4220141892019
wardah siddiqui6:36‚ÄØPM
4210166120772
Muhammad Haneef6:37‚ÄØPM
4220134664875
Sibtain Ahmed6:37‚ÄØPM
4130356133125
dani6:37‚ÄØPM
4250189782769
Ahsan Fayyaz6:40‚ÄØPM
4220115069023
Uzma Habib6:40‚ÄØPM
4520282632947
Fuzail Muzaffar6:43‚ÄØPM
4250181112217
Abdul Haseeb Khan6:43‚ÄØPM
4220103084339
Wajid Khan6:44‚ÄØPM
42101-1693504-9
Ali Affan Yaqoob6:44‚ÄØPM
42101-5031761-9
Ahsan Fayyaz6:45‚ÄØPM
4220115069023
osama saleem6:45‚ÄØPM
4220182861439
M. A. Miher6:45‚ÄØPM
3720117887067
Ali Nawaz6:46‚ÄØPM
4220157226073
Raja Waleed6:46‚ÄØPM
42201-8855051-5
42201-8855051-5    Raja waleed
Abdul Mannan Khan6:50‚ÄØPM
4220143572841
Abdulrafay Memon6:53‚ÄØPM
4520434839071
45204-3483907-1
Misbah Sabir6:54‚ÄØPM
4210158021374
MUHAMMAD AYAZ6:54‚ÄØPM
4520282632947
Nasir Ali6:54‚ÄØPM
4240134843465
MUHAMMAD AYAZ6:56‚ÄØPM
4520282632947
Mohsin Kamal6:56‚ÄØPM
4230108855633
Umer Fariq6:56‚ÄØPM
4220122685447
ali soorani6:56‚ÄØPM
4210124505207
Noor Saba6:56‚ÄØPM
4220187822116
Fahad Aziz Khan6:56‚ÄØPM
4220195795065
Mohsin Kamal6:57‚ÄØPM
4230108855633
Usama Ahmed6:57‚ÄØPM
6110196883915
Ali Nawaz6:57‚ÄØPM
13
Nasir Ali6:57‚ÄØPM
4330401845851
Syed Muzammil Haider6:57‚ÄØPM
4210149039311
wardah siddiqui6:57‚ÄØPM
4210166120772
Mahnoor Arif6:57‚ÄØPM
4220178140796
Insharah Khan6:57‚ÄØPM
4210131827012
Aijaz Ahmed6:57‚ÄØPM
4520691925699
Zubair ,6:57‚ÄØPM
1310104942039
Suhail Arif6:57‚ÄØPM
Suhail Arif Hussain 4220176777201
Raja Waleed6:57‚ÄØPM
42201-8855051-5        Raja waleed
Engr Mahmood Ul Hassan6:57‚ÄØPM
4250185234859
Ali Jilani6:57‚ÄØPM
4220114056719
osama saleem6:57‚ÄØPM
4220182861439
Ali Nawaz6:57‚ÄØPM
4220157226073
SHAHRUKH KHAN6:57‚ÄØPM
4210105390867
Box Brain6:57‚ÄØPM
4130414016931
Farah Asif6:57‚ÄØPM
4220108354184
MUHAMMAD AYAZ6:57‚ÄØPM
MUHAMMAD AYAZ 4520282632947
Abdul Mannan Khan6:57‚ÄØPM
4220143572841
Hassan Qamar6:57‚ÄØPM
4220110629561
Abdulrafay Memon6:57‚ÄØPM
45204-3483907-1
Athar Khalid6:57‚ÄØPM
4210158892613
ehzam ahmed6:57‚ÄØPM
4220176323111
SHAHRUKH KHAN6:57‚ÄØPM
4210129790553
ShahzadAzam Hashmi6:57‚ÄØPM
3630247912847
Dr Nadeem Shah6:57‚ÄØPM
4130464926599
Hassan Saleem6:57‚ÄØPM
4210199525535
Muneeb Bhania6:57‚ÄØPM
4210138182987
4250177756968
Ahtisham Ali Khan6:58‚ÄØPM
3830155517583
Muhammad Haris Bin Khalid6:58‚ÄØPM
4210101244031
MAAZ AHMED6:58‚ÄØPM
4220181749601 attendance
Sheza Shams6:58‚ÄØPM
42201-0218814-0 Sheza
Nasir Ali6:58‚ÄØPM
4230122270821
Sheikh Meraj Uddin6:58‚ÄØPM
4210192333399
Ali Affan Yaqoob6:58‚ÄØPM
42101-5031761-9
Aijaz Ahmed6:59‚ÄØPM
I shared a Jam file with the meeting: https://jamboard.google.com/d/10HPjqI481M0v9w3LO3bPyCdpzUGJ3YV94CN3U_AtLpc/edit?usp=meet_whiteboard
Farah Asif6:59‚ÄØPM
hina hyder 43203-0773876-0
Muhammad Haneef7:00‚ÄØPM
4220134664875
Owais Ahmed7:01‚ÄØPM
4220103194893
upq-oxma-vmi
"""
df6 = attendance(x)
print(len(df6))
df6['c6'] = 1
df6.head()

71

            CNIC  c6
0  3630247912847   1
1  4210132209059   1
2  5540124860782   1
3  4250189782769   1
4  4210131827012   1

In [16]:
x = """
Umair Sajid2:49‚ÄØPM
4220115395943
Suhail Arif2:51‚ÄØPM
voice not clear
Suhail Arif2:52‚ÄØPM
suhail arif hussain 4220176777201
Munir Mirza2:56‚ÄØPM
42101-0575629-9
M. A. Miher2:56‚ÄØPM
3720117887067
Ali Jilani2:56‚ÄØPM
4220114056719
Ali Affan Yaqoob2:57‚ÄØPM
42101-5031761-9
Sadaf Tirmizi2:57‚ÄØPM
42101-7246731-0
sadia faiyaz2:58‚ÄØPM
4210157421004
salman soorani2:58‚ÄØPM
4210124505207
Sibtain Ahmed2:59‚ÄØPM
4130356133125
Uzair Sajjad3:03‚ÄØPM
4210125481117
Abdulrafay Memon3:13‚ÄØPM
45204-3483907-1
4520434839071
Hassan Saleem3:21‚ÄØPM
4210199525535
Abdul Haseeb Khan3:22‚ÄØPM
4220103084339
Athar Khalid3:23‚ÄØPM
4210158892613
Ahmed Ali3:23‚ÄØPM
42101-0724035-9
Engr Mahmood Ul Hassan3:26‚ÄØPM
4250185234859
Ahsan Fayyaz3:26‚ÄØPM
4220115069023
Arsalan Shaikh3:27‚ÄØPM
42201-6205339-3
Owais Ahmed3:29‚ÄØPM
4220103194893
Masood M. Khokhar3:30‚ÄØPM
42501-4808238-9
Ahsan Fayyaz3:31‚ÄØPM
4220115069023
Hina Hyder3:34‚ÄØPM
hina hyder 43203-0773876-0
MARYAM RASHID3:35‚ÄØPM
4210198548420
Ahmed Ali3:35‚ÄØPM
42101-0724035-9
osama saleem3:39‚ÄØPM
4220182861439
Qureshi Kainat3:40‚ÄØPM
5540124860782
Ali Mehdi3:47‚ÄØPM
4220193871331
Misbah Sabir3:49‚ÄØPM
4210158021374
Maria Noor Amjad3:50‚ÄØPM
6110119569820
Fuzail Muzaffar3:56‚ÄØPM
4250181112217
Ayaz Muhammad3:57‚ÄØPM
4520282632947
MAAZ AHMED4:00‚ÄØPM
4220181749601 Attendance
obaid rehman4:01‚ÄØPM
4240113406009
Sadiq Fazal4:01‚ÄØPM
42101-7245686-0
Zeeshan Yaseen4:02‚ÄØPM
4220141892019
Iqra Talha4:04‚ÄØPM
6110120315128
Abdul Mannan Khan4:09‚ÄØPM
4220143572841
Ahsan Fayyaz4:09‚ÄØPM
4220115069023
Muhammad Haneef4:09‚ÄØPM
4220134664875
Imran Ejaz4:09‚ÄØPM
4200044884823
Suhail Arif4:11‚ÄØPM
Suhail Arif Hussain 4220176777201
obaid rehman4:17‚ÄØPM
3630230577559
Munir Mirza4:19‚ÄØPM
4220102372205
Insharah Khan4:24‚ÄØPM
4210131827012
salman soorani4:24‚ÄØPM
4210124505207
ehzam ahmed4:25‚ÄØPM
4220176323111
Aijaz Ahmed4:25‚ÄØPM
4520691925699
Raja Waleed4:27‚ÄØPM
Raja waleed  42201-8855051-5
Abdulrafay Memon4:28‚ÄØPM
4520434839071
Ali Affan Yaqoob4:28‚ÄØPM
4210150317619
Farah Asif4:29‚ÄØPM
37406-8087666-2
usama hanif4:29‚ÄØPM
4210132209059
Mohsin Kamal4:29‚ÄØPM
4230108855633
wardah siddiqui4:30‚ÄØPM
4210166120772
ShahzadAzam Hashmi4:30‚ÄØPM
3630247912847
SHAHRUKH KHAN4:30‚ÄØPM
4210105390867
Muhammad Hasan4:31‚ÄØPM
4240134843465
Dr Nadeem Shah4:33‚ÄØPM
4130464926599
Usama Ahmed4:33‚ÄØPM
6110196883915
Wajid Khan4:33‚ÄØPM
42101-1693504-9
Nasir Ali4:33‚ÄØPM
4240134843465
Muhammad Hasan
Raheel Sadruddin4:33‚ÄØPM
4210129790553
Umer Fariq4:33‚ÄØPM
4220122685447
Nasir Ali4:34‚ÄØPM
4330401845851
Nasir Ali
Mohsin Kamal4:34‚ÄØPM
4230108855633
Fahad Aziz Khan4:34‚ÄØPM
4220195795065
Zubair ,4:34‚ÄØPM
1310104942039
Ayaz Muhammad4:34‚ÄØPM
4520282632947
Muhammad Ayaz
Saad Shoaib4:34‚ÄØPM
41030414016931
Mahnoor Arif4:34‚ÄØPM
4220187822116
Ahtisham Khan4:34‚ÄØPM
3830155517583
Mahnoor Arif4:34‚ÄØPM
4220178140796
Kamran Younus4:34‚ÄØPM
42301-2227082-1
Sibtain Ahmed4:35‚ÄØPM
4130356133125
Muhammad Haris Bin Khalid4:35‚ÄØPM
4210101244031
Arsalan Shaikh4:36‚ÄØPM
42201-6205339-3
Hina Hyder4:37‚ÄØPM
43203-0773876-0...hina hyder
Abdul Mannan Khan4:37‚ÄØPM
4220143572841
Syed Muzammil Haider4:37‚ÄØPM
4210149039311
Aimen Iftikhar4:37‚ÄØPM
42201-7784972-8
Ali Jilani4:37‚ÄØPM
4220114056719
Ali Nawaz4:38‚ÄØPM
4220157226073
Syed Muzammil Haider4:38‚ÄØPM
4210172457810
Abdulrafay Memon4:38‚ÄØPM
45204-3483907-1
Mohsin Kamal4:39‚ÄØPM
4230108855633
osama saleem4:39‚ÄØPM
4220182861439
Muhammad Haris Bin Khalid4:39‚ÄØPM
4210101244031
salman soorani4:39‚ÄØPM
4210124505207
Raja Waleed4:39‚ÄØPM
Raja waleed 42201-8855051-5
Ali Affan Yaqoob4:39‚ÄØPM
4210150317619
Farah Asif4:39‚ÄØPM
37406-8087666-2
upq-oxma-vmi
"""

df7 = attendance(x)
print(len(df7))
df7['c7'] = 1
df7.head()

68

            CNIC  c7
0  3630247912847   1
1  4210132209059   1
2  5540124860782   1
3  4220188550515   1
4  4220182861439   1

In [21]:
x = """
Umair Sajid5:19‚ÄØPM
42201-1539594-3
Munir Mirza5:21‚ÄØPM
42101-0575629-9
M. A. Miher5:21‚ÄØPM
3720117887067
Uzair Sajjad5:23‚ÄØPM
4210125481117
Ahsan Fayyaz5:24‚ÄØPM
4220115069023
Suhail Arif5:25‚ÄØPM
Suhail Arif hussain 4220176777201
Abdul Haseeb Khan5:27‚ÄØPM
4220103084339
Engr Mahmood Ul Hassan5:29‚ÄØPM
4250185234859
Hassan Saleem5:30‚ÄØPM
4210199525535
Uzair Sajjad5:31‚ÄØPM
4140703835369
Owais Ahmed5:33‚ÄØPM
4220103194893
Ahmed Ali5:36‚ÄØPM
42101-0724035-9
Team NED Academy5:37‚ÄØPM
Please start recording  sir
danu5:37‚ÄØPM
4250189782769
Ali Affan Yaqoob5:38‚ÄØPM
42101-5031761-9
Qureshi Kainat5:49‚ÄØPM
5540124860782
Misbah Sabir5:49‚ÄØPM
4210158021374
Imran Ejaz6:08‚ÄØPM
4200044884823
Zaib Batool6:10‚ÄØPM
42101-7245686-0
Iqra Talha6:11‚ÄØPM
6110120315128
Zaib Batool6:11‚ÄØPM
42101-7246731-0
Ahmed Ali6:11‚ÄØPM
42101-0724035-9
Zeeshan Yaseen6:12‚ÄØPM
4220141892019
Ali Jilani6:12‚ÄØPM
4220114056719
Aimen Iftikhar6:12‚ÄØPM
42201-7784972-8
Sibtain Ahmed6:12‚ÄØPM
4130356133125
danu6:13‚ÄØPM
4250189782769
salman soorani6:14‚ÄØPM
4210124505207
Munir Mirza6:14‚ÄØPM
4220102372205
Hassan Qamar6:14‚ÄØPM
4220110629561
Muneeb Bhania6:15‚ÄØPM
4210138182987
Zaib Batool6:16‚ÄØPM
4210157421004
Muneeb Bhania6:16‚ÄØPM
4250177756968
Rida Batool6:21‚ÄØPM
4210172457810
Maria Noor Amjad6:21‚ÄØPM
6110119569820
Insharah Khan6:24‚ÄØPM
4210131827012
Ali Mehdi6:26‚ÄØPM
4220193871331
Fuzail Muzaffar6:34‚ÄØPM
4250181112217
Usama Ahmed6:34‚ÄØPM
6110196883915
ehzam ahmed6:35‚ÄØPM
4220176323111
Muneeb Bhania6:40‚ÄØPM
4250177756968
4210138182987
Hassan Qamar6:41‚ÄØPM
4220110629561
osama saleem6:49‚ÄØPM
4220182861439
Fahad Aziz Khan6:52‚ÄØPM
4220195795065
salman soorani6:52‚ÄØPM
4210124505207
Muhammad Haneef6:52‚ÄØPM
4220134664875
Nasir Ali6:52‚ÄØPM
4330401845851
Ahsan Fayyaz6:52‚ÄØPM
4220115069023
Nasir Ali6:53‚ÄØPM
4240134843465
Hasan
Engr Mahmood Ul Hassan6:53‚ÄØPM
4250185234859
M. A. Miher6:54‚ÄØPM
why should we not find space on both sides of @
Kamran Younus6:54‚ÄØPM
4230122270821
Raja Waleed6:54‚ÄØPM
42201-8855051-5
42201-8855051-5     Raja waleed
Zubair ,7:03‚ÄØPM
1310104942039
Noor Saba7:05‚ÄØPM
4220178140796
4220187822116
muhammad anas7:05‚ÄØPM
4210113165975
Raheel Sadruddin7:06‚ÄØPM
4210129790553
Ali Nawaz7:06‚ÄØPM
4220157226073
salman soorani7:06‚ÄØPM
4210124505207
Abdul Haseeb Khan7:06‚ÄØPM
4220103084339
Abdul Mannan Khan7:06‚ÄØPM
4220143572841
Mohsin Kamal7:06‚ÄØPM
4230108855633
Ahsan Fayyaz7:06‚ÄØPM
4220115069023
osama saleem7:06‚ÄØPM
4220182861439
ehzam ahmed7:06‚ÄØPM
4220176323111
SHAHRUKH KHAN7:06‚ÄØPM
4210105390867
Ahtisham Khan7:06‚ÄØPM
3830155517583
Saad Shoaib7:07‚ÄØPM
413041401416931
MAAZ AHMED7:07‚ÄØPM
4220181749601
Arsalan Shaikh7:07‚ÄØPM
42201-6205339-3
Suhail Arif7:07‚ÄØPM
4210116935049
Syed Muzammil Haider7:07‚ÄØPM
4210149039311
Ali Affan Yaqoob7:07‚ÄØPM
42101-5031761-9
Farah Asif7:07‚ÄØPM
37406-8087666-2
Nasir Ali7:07‚ÄØPM
4240134843465
Hasan
Aijaz Ahmed7:07‚ÄØPM
4520691925699
Umer Fariq7:07‚ÄØPM
4220122685447
Sheza Shams7:07‚ÄØPM
42201-0218814-0
ShahzadAzam Hashmi7:07‚ÄØPM
3630247912847
Nasir Ali7:07‚ÄØPM
4330401845851
Ahmed Ali7:07‚ÄØPM
42101-0724035-9
Zeeshan Yaseen7:08‚ÄØPM
4220141892019
Syed Muzammil Haider7:08‚ÄØPM
4210172457810
Mohsin Kamal7:08‚ÄØPM
4230108855633
Suhail Arif7:08‚ÄØPM
Suhail Arif HUssain 4220176777201
Abdulrafay Memon7:08‚ÄØPM
4520434839071
Muneeb Bhania7:08‚ÄØPM
4250177756968
Suhail Arif7:08‚ÄØPM
4250148082389
Muneeb Bhania7:08‚ÄØPM
4210138182987
usama hanif7:08‚ÄØPM
4210132209059
Saad Shoaib7:09‚ÄØPM
4130414016931
Muhammad Haris Bin Khalid7:10‚ÄØPM
4210101244031
Raja Waleed7:10‚ÄØPM
42201-8855051-5  Raja waleed
Insharah Khan7:10‚ÄØPM
4210131827012
upq-oxma-vmi
"""
df8 = attendance(x)
print(len(df8))
df8['c8'] = 1
df8.head()

68

            CNIC  c8
0  3630247912847   1
1  4210132209059   1
2  4250189782769   1
3  5540124860782   1
4  4210131827012   1

# Final

In [22]:
df = df1.merge(df2,on='CNIC', how='outer').fillna(0).merge(
    df3, on="CNIC",how="outer"
).fillna(0).merge(
df4, on="CNIC", how='outer'
).fillna(0).merge(
df5, on="CNIC", how='outer'
).fillna(0).merge(
df6, on="CNIC", how='outer'
).fillna(0).merge(
df7, on="CNIC", how='outer'
).fillna(0).merge(
df8, on="CNIC", how='outer'
).fillna(0)


df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)
df.reset_index(drop=True,inplace=True)
print(len(df))
display(df.iloc[:,1:-1].sum(axis=0))
display(df.head(60))
display(df.iloc[60:,:])

89

c1    58.0
c2    67.0
c3    66.0
c4    65.0
c5    70.0
c6    71.0
c7    68.0
c8    68.0
dtype: float64

             CNIC   c1   c2   c3   c4   c5   c6   c7   c8  total
0   3630247912847  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
1   4200044884823  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
2   4220102372205  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
3   4220187822116  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
4   4210105390867  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
5   4330401845851  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
6   4210172456860  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
7   4210150317619  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
8   4210132209059  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
9   4250185234859  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
10  4210158021374  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
11  4230108855633  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
12  4210124505207  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
13  4220178140796  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
14  4220114056719  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
15  4130356133125  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
16  4210116935049  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
17  4220176777201  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
18  4210105756299  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
19  4220182861439  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
20  4210129790553  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
21  1310104942039  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
22  4210199525535  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
23  4210149039311  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
24  5540124860782  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      8
25  3740680876662  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
26  4220176323111  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0      7
27  4210107240359  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0      7
28  4220141892019  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      7
29  4220157226073  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
30  4210125481117  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
31  4210172457810  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
32  4250181112217  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
33  4220134664875  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0      7
34  4220143572841  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
35  4220103084339  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0      7
36  4220102188140  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
37  4210157421004  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0      7
38  4130464926599  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0      7
39  4230122270821  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0      7
40  4210113165975  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
41  3720117887067  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0      7
42  4220110629561  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
43  4210138182987  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
44  4220122685447  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0      7
45  4220188550515  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0      7
46  4250189782769  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
47  4130414016931  1.0  1.0  1.0  1.0  1.0  1.0  0.0  1.0      7
48  4240134843465  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      7
49  6110119569820  0.0  1.0  1.0  1.0  1.0  0.0  1.0  1.0      6
50  4520282632947  1.0  1.0  1.0  0.0  1.0  1.0  1.0  0.0      6
51  4320307738760  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0      6
52  4220193871331  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      6
53  4220103194893  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      6
54  4210131827012  0.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0      6
55  4220195795065  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      6
56  4220162053393  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0      6
57  3830155517583  0.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0      6
58  4220115395943  1.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0      6
59  4520434839071  1.0  1.0  0.0  1.0  0.0  1.0  1.0  1.0      6

             CNIC   c1   c2   c3   c4   c5   c6   c7   c8  total
60  4210166120772  1.0  1.0  0.0  1.0  1.0  1.0  1.0  0.0      6
61  4250177756968  1.0  1.0  1.0  0.0  1.0  1.0  0.0  1.0      6
62  4520691925699  1.0  0.0  1.0  1.0  0.0  1.0  1.0  1.0      6
63  6110120315128  1.0  0.0  1.0  1.0  1.0  0.0  1.0  1.0      6
64  6110196883915  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0      6
65  4210158892613  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0      6
66  4220115069023  0.0  0.0  1.0  0.0  1.0  1.0  1.0  1.0      5
67  4210172467310  1.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0      5
68  4240113406009  0.0  1.0  1.0  0.0  1.0  1.0  1.0  0.0      5
69  3630230577559  0.0  1.0  0.0  0.0  1.0  1.0  1.0  0.0      4
70  4210192333399  0.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0      4
71  4140703835369  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0      4
72  4220177849728  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0      4
73  4220108354184  1.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0      4
74  4220181749601  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0      4
75  4210101244031  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0      4
76  4210198548420  1.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0      4
77  4210195297779  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0      2
78  4250148082389  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0      2
79  4230135829705  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0      2
80  3520294446451  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0      2
81  4120108835732  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0      1
82  3740523718449  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0      1
83  4220195795061  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0      1
84  4220130549643  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0      1
85  4250177756958  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0      1
86  4120108836732  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0      1
87  4220147830681  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0      1
88  4210102810113  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0      1