function identification **word()**
* print()
* len()
* dir()
* type()

### data type
* int  1
* float 2.0
* string "pakistan"
* string 'pakistan'
* string ''' pakistan '''
* string """ pakistan """

https://www.markdownguide.org/cheat-sheet/

In [1]:
print()

In [4]:
print("Pakistan") #pass string data type value

Pakistan

In [5]:
print('pakistan') #pass string data type value

pakistan

In [6]:
print('''pakistan''')

pakistan

In [7]:
print("""pakistan""")

pakistan

In [8]:
print(2)

2

In [9]:
print(7.9)

7.9

In [11]:
print("Pakistan","China",20, 7.20)

Pakistan China 20 7.2

# Variable

variable_name = variable_value

In [13]:
print(200)
print("pakistan")
print(200)
print("We love our country")
print(200)

200
pakistan
200
We love our country
200

In [20]:
print(200);print("pakistan");print(200);print("We love our country");print(200)

200
pakistan
200
We love our country
200

In [14]:
print(300)
print("pakistan")
print(300)
print("We love our country")
print(300)

300
pakistan
300
We love our country
300

In [16]:
# variable_name = variable_value
a = 500
print(a)
print("pakistan")
print(a)
print("We love our country")
print(a)

500
pakistan
500
We love our country
500

In [21]:
# variable_name = variable_value
a = 500

print(a,"pakistan",a,"We love our country",a)

500 pakistan 500 We love our country 500

In [26]:
# variable_name = variable_value
a = 500

print(a,"pakistan",a,"We love our country",a, sep='\n')

500
pakistan
500
We love our country
500

In [27]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
weight = 84



print("NED Student Idientity Card")
print("Name:",name)
print("Father's Name", father_name)
print("Weight",weight)

NED Student Idientity Card
Name: Muhammad Qasim
Father's Name Muhammad Aslam
Weight 84

In [30]:
name = "Muhammad Qasim"
print(name) # show variable value
print(type(name)) # show variable data type class
print(id(name)) # show memory address

Muhammad Qasim
<class 'str'>
139757902105712

In [31]:
weight = 84
print(weight) # show variable value
print(type(weight)) # show variable data type class
print(id(weight)) # show memory address

84
<class 'int'>
7397312

In [32]:
weight = 84.5
print(weight) # show variable value
print(type(weight)) # show variable data type class
print(id(weight)) # show memory address

84.5
<class 'float'>
139757924995504

In [33]:
a = True
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

True
<class 'bool'>
7271584

In [34]:
a = False
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

False
<class 'bool'>
7271552

In [35]:
a = [1,2,3]
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

[1, 2, 3]
<class 'list'>
139757910550560

In [36]:
a = (1,2,3)
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

(1, 2, 3)
<class 'tuple'>
139757909488576

In [37]:
a = {'name':'qasim'}
print(a) # show variable value
print(type(a)) # show variable data type class
print(id(a)) # show memory address

{'name': 'qasim'}
<class 'dict'>
139757909542144

# String Data types with variable and text formation

In [40]:
a = "Pakistan zinda bad" # single line string


print(type(a))
print(a)

<class 'str'>
Pakistan zinda bad

In [41]:
a = 'Pakistan zinda bad' # signle line string


print(type(a))
print(a)

<class 'str'>
Pakistan zinda bad

In [42]:
# multiline string
a = """
hello world
Pakistan zinda bad
We love our country!
"""

print(type(a))
print(a)

<class 'str'>

hello world
Pakistan zinda bad
We love our country!

In [43]:
a = 'Father's Name'

SyntaxError: invalid syntax (<ipython-input-43-f38542d16676>, line 1)

In [45]:
a = "Father's Name"
print(type(a))
print(a)

<class 'str'>
Father's Name

In [46]:
a = 'Father"s Name'
print(type(a))
print(a)

<class 'str'>
Father"s Name

In [47]:
a = 'Father\'s Name' # convert ' special charater to normal character
b = "Father\"s Name"

print(a)
print(b)

Father's Name
Father"s Name

In [53]:
id_card = "NED University\nStudent Name:Muhammad Qasim\nFather's Name:Muhammad Aslam"

print(type(id_card))
print(id_card)

<class 'str'>
NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam

In [54]:
id_card = """NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam"""

print(type(id_card))
print(id_card)

<class 'str'>
NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam

In [55]:
id_card = '''NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam'''

print(type(id_card))
print(id_card)

<class 'str'>
NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam

In [56]:
id_card = 'NED University
Student Name:Muhammad Qasim
Father's Name:Muhammad Aslam'

print(type(id_card))
print(id_card)

SyntaxError: EOL while scanning string literal (<ipython-input-56-49cc94b7d0ad>, line 1)

### Concatination

In [57]:
fname = "Muhammad"
lname = "Qasim"

full_name = fname + lname
print(full_name)

MuhammadQasim

In [58]:
fname = "Muhammad"
lname = "Qasim"

full_name = fname +" "+ lname
print(full_name)

Muhammad Qasim

In [62]:
age = 30
name = "Qasim"

result = "Student Name: "+name+", "+age 


print(result)

TypeError: can only concatenate str (not "int") to str

In [67]:
age = 30
name = "Qasim"

result = "Student Name: "+name+", "+str(age)


print(result)

Student Name: Qasim, 30

In [63]:
"1" + "1"

'11'

In [64]:
1 + 1

2

In [65]:
"1" + 1

TypeError: can only concatenate str (not "int") to str

In [66]:
"1" + str(1)

'11'

In [68]:
print(type(1))

<class 'int'>

In [69]:
print(type(str(1))) # type casting = Number to string

<class 'str'>

In [73]:
fname = "Muhammad"
lname = "Qasim"
weight = 84
age = 30

id_card = "NED University\nStudent Name: "+fname+" "+lname+"\nAge: "+age

print(id_card)

TypeError: can only concatenate str (not "int") to str

In [75]:
fname = "Muhammad"
lname = "Qasim"
age = 30

id_card = "NED University\nStudent Name: "+fname+" "+lname+"\nAge: "+str(age)

print(id_card)

NED University
Student Name: Muhammad Qasim
Age: 30