# Loop
* counter->condition->increment/decrement

* while
* for
* loop controls
    * break
    * pass
    * continue

# Infinit Loop

while True:
    print("Pakistan")

In [5]:
while False:
    print("Pakistan")

In [6]:
counter = 0# counter

while counter < 11:# logic
    print(counter)
    counter += 1 # increment

0
1
2
3
4
5
6
7
8
9
10

In [7]:
c = 100
while c > 50:
    print(c)
    c -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [8]:
c = 2023
while c > 2000:
    print(c)
    c -= 1

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001

In [9]:
#           0     1       2        3        4
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad"]

i = 0
while i < 5:
    print(names[i])
    i += 1

Qasim
Ali
Hamzaa
Junaid
Hammad

In [10]:
#           0     1       2        3        4
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]

i = 0
while i < 5:
    print(names[i])
    i += 1

Qasim
Ali
Hamzaa
Junaid
Hammad

In [15]:
#           0     1       2        3        4
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]

i = 0 # start index variable value
while i < len(names): # logic test on variable True/False
    print(names[i])
    i += 1 # increment/dercrement

Qasim
Ali
Hamzaa
Junaid
Hammad
Iqbal

In [14]:
len(names)

6

# for loop

In [16]:
#           0     1       2        3        4
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]

for name in names:
    print(name)

Qasim
Ali
Hamzaa
Junaid
Hammad
Iqbal

In [17]:
#           0     1       2        3        4
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]

for a in names:
    print(a)

Qasim
Ali
Hamzaa
Junaid
Hammad
Iqbal

In [19]:
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]
list(enumerate(names))

[(0, 'Qasim'),
 (1, 'Ali'),
 (2, 'Hamzaa'),
 (3, 'Junaid'),
 (4, 'Hammad'),
 (5, 'Iqbal')]

In [21]:
# unzip
idx, name = (0, 'Qasim')
print(idx, name)

0 Qasim

In [20]:
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]
for idx, name in enumerate(names):
    print(f"Student Roll no: {idx} and his/her Name: {name}")

Student Roll no: 0 and his/her Name: Qasim
Student Roll no: 1 and his/her Name: Ali
Student Roll no: 2 and his/her Name: Hamzaa
Student Roll no: 3 and his/her Name: Junaid
Student Roll no: 4 and his/her Name: Hammad
Student Roll no: 5 and his/her Name: Iqbal

In [23]:
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]
sorted(names)

['Ali', 'Hammad', 'Hamzaa', 'Iqbal', 'Junaid', 'Qasim']

In [24]:
names = ["Qasim","Ali","Hamzaa","Junaid","Hammad","Iqbal"]

for idx, name in enumerate(sorted(names)):
    print(f"Student Roll no: {idx} and his/her Name: {name}")

Student Roll no: 0 and his/her Name: Ali
Student Roll no: 1 and his/her Name: Hammad
Student Roll no: 2 and his/her Name: Hamzaa
Student Roll no: 3 and his/her Name: Iqbal
Student Roll no: 4 and his/her Name: Junaid
Student Roll no: 5 and his/her Name: Qasim

In [25]:
i = 0
while i < 1000000:
    print(i)
    i +=1
    break

0

In [34]:
i = 1

while i < 1000000:
    if i % 5 == 0 and i % 7 == 0 and i % 20 == 0:
        print(i)
        break # early stop 

    i += 1

140

In [35]:
i = 7

i % 5

2

In [36]:
i = 7

i % 5 == 0

False

In [37]:
i = 0
while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [38]:
i = 0
while i < 11:
    print(i)
    if i == 5:
        break
    i += 1

0
1
2
3
4
5

In [4]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for i in range(20):
    pass

In [6]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-6-c7f534887078>, line 2)

In [7]:
if True:
    pass

In [8]:
print("1")
print("2")
pass
print("3")

1
2
3

In [10]:
names = []

while True:
    nm = input("Enter any Entery. type 'exit' to stop!")
    if nm == "exit":
        break
    names.append(nm)

Enter any Entery. type 'exit' to stop!Ali
Enter any Entery. type 'exit' to stop!Qasim
Enter any Entery. type 'exit' to stop!Hamza
Enter any Entery. type 'exit' to stop!Kamran
Enter any Entery. type 'exit' to stop!Hammad
Enter any Entery. type 'exit' to stop!Noman
Enter any Entery. type 'exit' to stop!exit

In [11]:
names

['Ali', 'Qasim', 'Hamza', 'Kamran', 'Hammad', 'Noman']

In [13]:
#               name    fname  age edu
database  = [["Qasim","Aslam",30,"MSDS"],
            ["Hammad","Ali",27,"BSCS"],
            ["Asif","Abid", 23, "I.com"]]

for row in database:
    card = f"""
    NED Student Card
    Name: {row[0]} \t Father's Name {row[1]}
    Age: {row[2]} \t Education: {row[3]} 
    """
    print(card)

    NED Student Card
    Name: Qasim 	 Father's Name Aslam
    Age: 30 	 Education: MSDS


    NED Student Card
    Name: Hammad 	 Father's Name Ali
    Age: 27 	 Education: BSCS


    NED Student Card
    Name: Asif 	 Father's Name Abid
    Age: 23 	 Education: I.com

In [17]:
db  = [{"name":"Qasim",'roll':200},
      {"name":"Ali",'age':20},
      {"education":"master"}]

for row in db:
    print('=======Student Detail========')
    for k, v in row.items():
        print(f"Key {k}\t\t\t Value: {v}")

=======Student Detail========
Key name			 Value: Qasim
Key roll			 Value: 200
=======Student Detail========
Key name			 Value: Ali
Key age			 Value: 20
=======Student Detail========
Key education			 Value: master

In [19]:
db  = [{"name":"Qasim",'roll':200},
      {"name":"Ali",'age':20},
      {"education":"master"}]

for rid, row in enumerate(db):
    print(f'=======Student {rid+1} Detail========')
    for k, v in row.items():
        print(f"Key {k}\t\t\t Value: {v}")

=======Student 1 Detail========
Key name			 Value: Qasim
Key roll			 Value: 200
=======Student 2 Detail========
Key name			 Value: Ali
Key age			 Value: 20
=======Student 3 Detail========
Key education			 Value: master

In [21]:
k, v = input("Key,Value").split(",")
print(k, v)

Key,Valuename,Qasim
name Qasim

In [23]:
db = {}
while True:
    k,v = input("Key,Value").split(",")
    db[k] = v
    if k == 'exit' or v == 'exit':
        break

Key,Valueid,1
Key,Valuename,qasim
Key,Valueeducation,Master
Key,Valueexit,a

In [24]:
db

{'id': '1', 'name': 'qasim', 'education': 'Master', 'exit': 'a'}