# Functions 
* ## function declair/define
    * function name
    * function parameters/Arguments
* ## function body
    sets of statments
* ## function call
    * function_name() example `print(text1,text2..)`

* pre-define function
    * return
        * after calling we can store this value in variable
    * None return
        * we can't store value in variable
    * defualt function
        * not required any argument when we call it
    * provided by language/ or pre-define in language
        * len()
        * print()
        * dir()
        * str()
* user define function
    * use create itself
    * return
        * after calling we can store this value in variable
    * None return
        * we can't store value in variable


# parameters
* required
    * we can't execute the function without these parameters
* defualt/optional
    * if we can't provide these then our function can also run or complete the task
    
# Generator function

# Lambda function

# Recursive function

In [1]:
# Pre-Define Functions

In [2]:
print("Pakistan zinda bad")# call predefine function here

Pakistan zinda bad

In [3]:
len('aaaa')

4

In [4]:
str(4)

'4'

In [5]:
id("aaa")

139968087942704

# Return Vs None-Return

In [6]:
# none-return function
abc = print('pakistan zinda bad')

pakistan zinda bad

In [7]:
abc

In [8]:
print(abc)

None

In [9]:
# Return function
# id, str, len , dir
abc = id('adafsdfas')

In [10]:
print(abc)

139968087972464

In [11]:
abc = str(22)

In [12]:
print(abc)

22

In [13]:
abc = dir('sss')

In [14]:
abc

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# USER Define function
**syntax**

```
def function_name(arg1,arg2,...):
    statment1
    statment2
    

function_name(arg1,arg2)
```

In [15]:
def ned_introduction():        # function define
    #function body
    print("=====NED University====")    # statment1
    print("PGD program")       # statment2
    print("Courses offering:") # statment3
    print("* Data Science")      #...
    print("* Block-chain")       #...
    #end function body

In [16]:
ned_introduction() # calling function

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [17]:
ned_introduction()
ned_introduction()

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain
=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [18]:
abc = ned_introduction()

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [19]:
print(abc)

None

# Create return function

In [20]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    return txt # you must be place return in last line

In [21]:
abc = ned_intro()

In [22]:
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [23]:
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [24]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    return txt # you must be place return in last line /exit from here that's why we unable to print below two lines
    print('aaa')
    print('bbb')
    
abc = ned_intro() 
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [25]:
print(ned_intro())

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [26]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    print(txt)
    print('aaa')
    print('bbb')
    
ned_intro()

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

aaa
bbb

# Required arguments

In [27]:
print(7 + 3)
print(8+3)

10
11

In [28]:
def additon(num1, num2):
    return num1 + num2


print(additon(7,3))
print(additon(20,8))
print(additon(70,90))

10
28
160

In [29]:
print(additon(1,2))
print(additon(2,8,9))

3

TypeError: additon() takes 2 positional arguments but 3 were given

In [30]:
additon(7)

TypeError: additon() missing 1 required positional argument: 'num2'

# Optional Arguments

In [31]:
def addition(num1=0, num2=0): #arg=value
#     print(num1,num2,'.....')
    return num1 + num2

print(addition())
print(addition(1,7))
print(addition(100))

0
8
100

In [32]:
addition(7,9,20)

TypeError: addition() takes from 0 to 2 positional arguments but 3 were given

# Required and Optional Arguments

In [33]:
def makin_biryani(rice, meat, tamato='0.5K'):
    txt = f"""
Boiling {rice} rice...
making qorma with {meat} meat...
mixing tamato {tamato} ...
Now you can enjoy biryani....
    """
    
    return txt

In [34]:
print(makin_biryani("Sehla", "chiken"))

Boiling Sehla rice...
making qorma with chiken meat...
mixing tamato 0.5K ...
Now you can enjoy biryani....

In [35]:
print(makin_biryani("Basmati", "Beaf", "1.5 KG"))

Boiling Basmati rice...
making qorma with Beaf meat...
mixing tamato 1.5 KG ...
Now you can enjoy biryani....

# Optional argument2 unlimited

In [36]:
def my_sum(num1, *nums):
#     print(num1, nums, sum(nums))
    return num1 + sum(nums)
print(my_sum(1))
print(my_sum(2,2))
print(my_sum(2,3,4,5,6))
print(my_sum(1,2,3,3,3,4,5,65,3))

1
4
20
89

In [37]:
result = my_sum(1,2,3,3,4,5,6)
print(result)

24

#### second way

In [38]:
import numpy as np

def my_sum(num1, *nums):
#     print(num1, nums, sum(nums))

    result = num1    
    for value in nums:
        result += value
        
    return result

print(my_sum(1))
print(my_sum(2,2))
print(my_sum(2,3,4,5,6))
print(my_sum(1,2,3,3,3,4,5,65,3))

1
4
20
89

In [39]:
def my_sum1(num1,num2,*numbs):
    return num1 + num2 + sum(numbs)

# print(my_sum1(1))
print(my_sum1(1,3))
print(my_sum1(22,3,5))

4
30

In [40]:
def my_sum(*nums):
    return sum(nums)

print(my_sum())
print(my_sum(1))
print(my_sum(1,2))
print(my_sum(7,3,5))

0
1
3
15

In [41]:
a, b = [20,25]

print(a)
print(b)

20
25

# *variable during calling

In [42]:
l = [1,3,7,9,20,25]
print(l[0],l[1],l[2],l[3],l[4],l[5])

1 3 7 9 20 25

In [43]:
l = [1,3,7,9,20,25]
print(*l) # during calling * before iterated datatype = unzip values

1 3 7 9 20 25

In [44]:
l1 = [2,20]
addition(*l1)

22

In [45]:
l1 = [2,20,30,23]
addition(*l1)

TypeError: addition() takes from 0 to 2 positional arguments but 4 were given

In [46]:
def my_new_sum(n1,n2,n3,n4):
    return n1+n2+n3+n4

l = [10,20,100,200]

print(l[-2:])
my_new_sum(50,1, *l[-2:])

[100, 200]

351

# Calling function with key

In [47]:
def student_card(rollno, name, fname, course):
    cards = f"""
    NED University ID card
    Roll No: {rollno}
    Name: {name} \t Father's Name: {fname}
    Course: {course}    
    """
    
    return cards

In [48]:
print(student_card(1,"Qasim","Aslam","AI"))

    NED University ID card
    Roll No: 1
    Name: Qasim 	 Father's Name: Aslam
    Course: AI

In [49]:
print(student_card(2,"Asif Khan","Abid Khan","Block chain"))

    NED University ID card
    Roll No: 2
    Name: Asif Khan 	 Father's Name: Abid Khan
    Course: Block chain

# if value did'n receive with same sequance

In [50]:
print(student_card("Muhammad Qasim",'Muhammad Aslam',1,"Course"))

    NED University ID card
    Roll No: Muhammad Qasim
    Name: Muhammad Aslam 	 Father's Name: 1
    Course: Course

# Now we solve above issue with passing keywords arguments

In [51]:
def student_card(rollno, name, fname, course):
    cards = f"""
    NED University ID card
    Roll No: {rollno}
    Name: {name} \t Father's Name: {fname}
    Course: {course}    
    """
    
    return cards

print(student_card(name="Muhammad Qasim", course="AI", fname="Muhammad Aslam", rollno=786))

    NED University ID card
    Roll No: 786
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [52]:
l = [1,"Muhammad Qasim","Muhammad Aslam","AI"]

print(student_card(*l))

    NED University ID card
    Roll No: 1
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [53]:
data = [[1,"Muhammad Qasim","Muhammad Aslam","AI"],
       [2,"Asif Khan","Abid Khan","Block chain"],
       [3,"Iqbal","Hussain",'Cloud computing']]

for row in data:
    print(student_card(*row))

    NED University ID card
    Roll No: 1
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI


    NED University ID card
    Roll No: 2
    Name: Asif Khan 	 Father's Name: Abid Khan
    Course: Block chain


    NED University ID card
    Roll No: 3
    Name: Iqbal 	 Father's Name: Hussain
    Course: Cloud computing

** during calling before argument unzip key value pair

In [54]:
d = {"name":"Muhammad Qasim",
     'rollno':222,
     'fname':"Muhammad Aslam",
     'course':"AI"}

print(student_card(**d)) #

    NED University ID card
    Roll No: 222
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [55]:
print(student_card(name="Muhammad Qasim",
                  rollno=222,
                  fname="Muhammad Aslam",
                  course="AI"))

    NED University ID card
    Roll No: 222
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

# Create keyword argument unlimited

In [56]:
def my_fn(num1,num2, **abc): # ** dict
    print(num1,num2,abc)
    
my_fn(7,20, len=20, age=25, course='AI')

7 20 {'len': 20, 'age': 25, 'course': 'AI'}

# Create num1 num2 required unlimite sequancel values, unlimited keyword arguments

In [57]:
def my_fn1(num1,num2, *l1, **d1):
    print(num1, num2 , l1, d1)
    
my_fn1(7,20, 'a','b','c', age=20, course='AI', rollno=222)

7 20 ('a', 'b', 'c') {'age': 20, 'course': 'AI', 'rollno': 222}

# Lambda function
* without name
* one line function
* no use befor or after this line

In [58]:
def add(n1,n2):
    return n1+ n2

add(2,20)

22

In [59]:
a = lambda n1,n2 : n1+ n2

a(2,20)

22

In [60]:
#  lambda  arg1,arg:  function body
b = lambda  n1,   n2: n1+ n2

b(2,20)

22

In [63]:
data = [[1,"Z","A"],
       [2,"Y","B"],
       [3, "X","C"]]

display(sorted(data, key=lambda x:x[1]))

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

In [64]:
display(sorted(data, key=lambda x:x[0]))

[[1, 'Z', 'A'], [2, 'Y', 'B'], [3, 'X', 'C']]

In [65]:
display(sorted(data, key=lambda x:x[0], reverse=True))

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

# Generative Function

In [5]:
l1 = list(range(1,1000+1))# storted values in memory
print(l1)
for i in l1: # iteration
    if i%7==0 and i%9==0 and i%21==0:# pick the value at this stage
        print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
63
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [18]:
def my_gen(start,end):
    for i in range(start,end+1):
        yield i # yield keyword make it
        
        
l1 = my_gen(1,10)
print(l1)
print(next(l1))#1
print(next(l1))#2
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))
print(next(l1))#7
print(next(l1))

<generator object my_gen at 0x7faa4f906cd0>
1
2
3
4
5
6
7
8

In [17]:
list(my_gen(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Recursive Function

In [22]:
def countdown(n):
    print(n)
    if n==0:
        return 
    else:
        countdown(n-1)
    
    
    
countdown(5)

5
4
3
2
1
0

In [30]:
def factorial(num):
    print(num)
    if (num == 0):
        return 1
    else:
        return num * factorial(num - 1)
    
print(factorial(5))

print(1*2*3*4*5)

5
4
3
2
1
0
120
120

In [31]:

5 * 4 * 3 *2 *1 *1

120

In [35]:
result = 0
for i in range(6):
    if i == 0:
        result = 0
    else:
        result *= i
        
print(result)

0