# Functions 
* ## function declair/define
    * function name
    * function parameters/Arguments
* ## function body
    sets of statments
* ## function call
    * function_name() example `print(text1,text2..)`

* pre-define function
    * return
        * after calling we can store this value in variable
    * None return
        * we can't store value in variable
    * defualt function
        * not required any argument when we call it
    * provided by language/ or pre-define in language
        * len()
        * print()
        * dir()
        * str()
* user define function
    * use create itself
    * return
        * after calling we can store this value in variable
    * None return
        * we can't store value in variable


# parameters
* required
    * we can't execute the function without these parameters
* defualt/optional
    * if we can't provide these then our function can also run or complete the task
    
# Generator function

# Lambda function

# Recursive function

In [1]:
# Pre-Define Functions

In [2]:
print("Pakistan zinda bad")# call predefine function here

Pakistan zinda bad

In [3]:
len('aaaa')

4

In [4]:
str(4)

'4'

In [5]:
id("aaa")

139968087942704

# Return Vs None-Return

In [6]:
# none-return function
abc = print('pakistan zinda bad')

pakistan zinda bad

In [7]:
abc

In [8]:
print(abc)

None

In [9]:
# Return function
# id, str, len , dir
abc = id('adafsdfas')

In [10]:
print(abc)

139968087972464

In [11]:
abc = str(22)

In [12]:
print(abc)

22

In [13]:
abc = dir('sss')

In [14]:
abc

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# USER Define function
**syntax**

```
def function_name(arg1,arg2,...):
    statment1
    statment2
    

function_name(arg1,arg2)
```

In [15]:
def ned_introduction():        # function define
    #function body
    print("=====NED University====")    # statment1
    print("PGD program")       # statment2
    print("Courses offering:") # statment3
    print("* Data Science")      #...
    print("* Block-chain")       #...
    #end function body

In [16]:
ned_introduction() # calling function

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [17]:
ned_introduction()
ned_introduction()

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain
=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [18]:
abc = ned_introduction()

=====NED University====
PGD program
Courses offering:
* Data Science
* Block-chain

In [19]:
print(abc)

None

# Create return function

In [20]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    return txt # you must be place return in last line

In [21]:
abc = ned_intro()

In [22]:
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [23]:
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [24]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    return txt # you must be place return in last line /exit from here that's why we unable to print below two lines
    print('aaa')
    print('bbb')
    
abc = ned_intro() 
print(abc)

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [25]:
print(ned_intro())

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

In [26]:
def ned_intro():
    txt = """
    NED 
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse
    """    
    print(txt)
    print('aaa')
    print('bbb')
    
ned_intro()

    NED
    Courses Offering:
        AI
        Blockchain
        Cloud computing
        Metaverse

aaa
bbb

# Required arguments

In [27]:
print(7 + 3)
print(8+3)

10
11

In [28]:
def additon(num1, num2):
    return num1 + num2


print(additon(7,3))
print(additon(20,8))
print(additon(70,90))

10
28
160

In [29]:
print(additon(1,2))
print(additon(2,8,9))

3

TypeError: additon() takes 2 positional arguments but 3 were given

In [30]:
additon(7)

TypeError: additon() missing 1 required positional argument: 'num2'

# Optional Arguments

In [31]:
def addition(num1=0, num2=0): #arg=value
#     print(num1,num2,'.....')
    return num1 + num2

print(addition())
print(addition(1,7))
print(addition(100))

0
8
100

In [32]:
addition(7,9,20)

TypeError: addition() takes from 0 to 2 positional arguments but 3 were given

# Required and Optional Arguments

In [33]:
def makin_biryani(rice, meat, tamato='0.5K'):
    txt = f"""
Boiling {rice} rice...
making qorma with {meat} meat...
mixing tamato {tamato} ...
Now you can enjoy biryani....
    """
    
    return txt

In [34]:
print(makin_biryani("Sehla", "chiken"))

Boiling Sehla rice...
making qorma with chiken meat...
mixing tamato 0.5K ...
Now you can enjoy biryani....

In [35]:
print(makin_biryani("Basmati", "Beaf", "1.5 KG"))

Boiling Basmati rice...
making qorma with Beaf meat...
mixing tamato 1.5 KG ...
Now you can enjoy biryani....

# Optional argument2 unlimited

In [36]:
def my_sum(num1, *nums):
#     print(num1, nums, sum(nums))
    return num1 + sum(nums)
print(my_sum(1))
print(my_sum(2,2))
print(my_sum(2,3,4,5,6))
print(my_sum(1,2,3,3,3,4,5,65,3))

1
4
20
89

In [37]:
result = my_sum(1,2,3,3,4,5,6)
print(result)

24

#### second way

In [38]:
import numpy as np

def my_sum(num1, *nums):
#     print(num1, nums, sum(nums))

    result = num1    
    for value in nums:
        result += value
        
    return result

print(my_sum(1))
print(my_sum(2,2))
print(my_sum(2,3,4,5,6))
print(my_sum(1,2,3,3,3,4,5,65,3))

1
4
20
89

In [39]:
def my_sum1(num1,num2,*numbs):
    return num1 + num2 + sum(numbs)

# print(my_sum1(1))
print(my_sum1(1,3))
print(my_sum1(22,3,5))

4
30

In [40]:
def my_sum(*nums):
    return sum(nums)

print(my_sum())
print(my_sum(1))
print(my_sum(1,2))
print(my_sum(7,3,5))

0
1
3
15

In [41]:
a, b = [20,25]

print(a)
print(b)

20
25

# *variable during calling

In [42]:
l = [1,3,7,9,20,25]
print(l[0],l[1],l[2],l[3],l[4],l[5])

1 3 7 9 20 25

In [43]:
l = [1,3,7,9,20,25]
print(*l) # during calling * before iterated datatype = unzip values

1 3 7 9 20 25

In [44]:
l1 = [2,20]
addition(*l1)

22

In [45]:
l1 = [2,20,30,23]
addition(*l1)

TypeError: addition() takes from 0 to 2 positional arguments but 4 were given

In [46]:
def my_new_sum(n1,n2,n3,n4):
    return n1+n2+n3+n4

l = [10,20,100,200]

print(l[-2:])
my_new_sum(50,1, *l[-2:])

[100, 200]

351

# Calling function with key

In [47]:
def student_card(rollno, name, fname, course):
    cards = f"""
    NED University ID card
    Roll No: {rollno}
    Name: {name} \t Father's Name: {fname}
    Course: {course}    
    """
    
    return cards

In [48]:
print(student_card(1,"Qasim","Aslam","AI"))

    NED University ID card
    Roll No: 1
    Name: Qasim 	 Father's Name: Aslam
    Course: AI

In [49]:
print(student_card(2,"Asif Khan","Abid Khan","Block chain"))

    NED University ID card
    Roll No: 2
    Name: Asif Khan 	 Father's Name: Abid Khan
    Course: Block chain

# if value did'n receive with same sequance

In [50]:
print(student_card("Muhammad Qasim",'Muhammad Aslam',1,"Course"))

    NED University ID card
    Roll No: Muhammad Qasim
    Name: Muhammad Aslam 	 Father's Name: 1
    Course: Course

# Now we solve above issue with passing keywords arguments

In [51]:
def student_card(rollno, name, fname, course):
    cards = f"""
    NED University ID card
    Roll No: {rollno}
    Name: {name} \t Father's Name: {fname}
    Course: {course}    
    """
    
    return cards

print(student_card(name="Muhammad Qasim", course="AI", fname="Muhammad Aslam", rollno=786))

    NED University ID card
    Roll No: 786
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [52]:
l = [1,"Muhammad Qasim","Muhammad Aslam","AI"]

print(student_card(*l))

    NED University ID card
    Roll No: 1
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [53]:
data = [[1,"Muhammad Qasim","Muhammad Aslam","AI"],
       [2,"Asif Khan","Abid Khan","Block chain"],
       [3,"Iqbal","Hussain",'Cloud computing']]

for row in data:
    print(student_card(*row))

    NED University ID card
    Roll No: 1
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI


    NED University ID card
    Roll No: 2
    Name: Asif Khan 	 Father's Name: Abid Khan
    Course: Block chain


    NED University ID card
    Roll No: 3
    Name: Iqbal 	 Father's Name: Hussain
    Course: Cloud computing

** during calling before argument unzip key value pair

In [54]:
d = {"name":"Muhammad Qasim",
     'rollno':222,
     'fname':"Muhammad Aslam",
     'course':"AI"}

print(student_card(**d)) #

    NED University ID card
    Roll No: 222
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

In [55]:
print(student_card(name="Muhammad Qasim",
                  rollno=222,
                  fname="Muhammad Aslam",
                  course="AI"))

    NED University ID card
    Roll No: 222
    Name: Muhammad Qasim 	 Father's Name: Muhammad Aslam
    Course: AI

# Create keyword argument unlimited

In [56]:
def my_fn(num1,num2, **abc): # ** dict
    print(num1,num2,abc)
    
my_fn(7,20, len=20, age=25, course='AI')

7 20 {'len': 20, 'age': 25, 'course': 'AI'}

# Create num1 num2 required unlimite sequancel values, unlimited keyword arguments

In [57]:
def my_fn1(num1,num2, *l1, **d1):
    print(num1, num2 , l1, d1)
    
my_fn1(7,20, 'a','b','c', age=20, course='AI', rollno=222)

7 20 ('a', 'b', 'c') {'age': 20, 'course': 'AI', 'rollno': 222}

# Lambda function
* without name
* one line function
* no use befor or after this line

In [58]:
def add(n1,n2):
    return n1+ n2

add(2,20)

22

In [59]:
a = lambda n1,n2 : n1+ n2

a(2,20)

22

In [60]:
#  lambda  arg1,arg:  function body
b = lambda  n1,   n2: n1+ n2

b(2,20)

22

In [63]:
data = [[1,"Z","A"],
       [2,"Y","B"],
       [3, "X","C"]]

display(sorted(data, key=lambda x:x[1]))

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

In [64]:
display(sorted(data, key=lambda x:x[0]))

[[1, 'Z', 'A'], [2, 'Y', 'B'], [3, 'X', 'C']]

In [65]:
display(sorted(data, key=lambda x:x[0], reverse=True))

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]