In [4]:
!pip install numpy

Requirement already satisfied: numpy in /home/mqasim/anaconda3/lib/python3.7/site-packages (1.21.6)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

https://towardsdatascience.com/make-your-own-python-package-6d08a400fc2d

In [5]:
!pip install --upgrade pip

Requirement already satisfied: pip in /home/mqasim/anaconda3/lib/python3.7/site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1

In [6]:
#       packName   nickName
import datetime as dt
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

# Import datetime package

In [56]:
import datetime as dt

now = dt.datetime.now()# current date time return

print(now)

2023-02-25 15:11:06.122566

# expiry date

In [59]:
exp_date = dt.datetime(2024,2,29)
print(exp_date)

2024-02-29 00:00:00

In [60]:
if exp_date > now:
    print("You can use this application")
else:
    print("You can't use this application")

You can use this application

In [78]:
now = dt.datetime.now()# current date time return

print(now)
print(now.year, type(now.year)) # year
print(now.month)#month
print(now.day)#day
print(now.hour)#hour
print(now.minute)#minute
print(now.second)#second

2023-02-25 15:22:19.613565
2023 <class 'int'>
2
25
15
22
19

### Now Extract any individual date componet with datevariable.strftime("%Symbol")
* always return value in string

Code	Example	Description
%a	Sun	Weekday as locale’s abbreviated name.
%A	Sunday	Weekday as locale’s full name.
%w	0	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.
%d	08	Day of the month as a zero-padded decimal number.
%-d	8	Day of the month as a decimal number. (Platform specific)
%b	Sep	Month as locale’s abbreviated name.
%B	September	Month as locale’s full name.
%m	09	Month as a zero-padded decimal number.
%-m	9	Month as a decimal number. (Platform specific)
%y	13	Year without century as a zero-padded decimal number.
%Y	2013	Year with century as a decimal number.
%H	07	Hour (24-hour clock) as a zero-padded decimal number.
%-H	7	Hour (24-hour clock) as a decimal number. (Platform specific)
%I	07	Hour (12-hour clock) as a zero-padded decimal number.
%-I	7	Hour (12-hour clock) as a decimal number. (Platform specific)
%p	AM	Locale’s equivalent of either AM or PM.
%M	06	Minute as a zero-padded decimal number.
%-M	6	Minute as a decimal number. (Platform specific)
%S	05	Second as a zero-padded decimal number.
%-S	5	Second as a decimal number. (Platform specific)
%f	000000	Microsecond as a decimal number, zero-padded on the left.
%z	+0000	UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).
%Z	UTC	Time zone name (empty string if the object is naive).
%j	251	Day of the year as a zero-padded decimal number.
%-j	251	Day of the year as a decimal number. (Platform specific)
%U	36	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.
%W	35	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.
%
Sun Sep 8 07:06:05 2013	Locale’s appropriate date and time representation.
%x	09/08/13	Locale’s appropriate date representation.
%X	07:06:05	Locale’s appropriate time representation.
%%	%	A literal '%' character.

In [102]:
now = dt.datetime.now()# current date time return

print(now, type(now))
print(now.strftime("%Y"), type(now.strftime("%Y")))# %Y = Year
print(now.strftime("%y"))
print(now.strftime("%m"))# %m = month
print(now.strftime("%b"))# %b = 3 char month
print(now.strftime("%B"))# %B = Full Name   month
print(now.strftime("%S"))# second
print(now.strftime("%M"))# Minutes
print(now.strftime("%a"))
print(now.strftime("%A"))
print(now.strftime("%w"))
print(now.strftime("%d"))
print(now.strftime("%-d"))
print(now.strftime("%-m"))
print(now.strftime("%H"))
print(now.strftime("%I"))
print(now.strftime("%-I"))
print(now.strftime("%c"))

2023-02-25 15:37:42.618342 <class 'datetime.datetime'>
2023 <class 'str'>
23
02
Feb
February
42
37
Sat
Saturday
6
25
25
2
15
03
3
Sat Feb 25 15:37:42 2023

# Now convert date into American Format

In [85]:
now = dt.datetime.now()# current date time return

print(now, type(now))
print(f"{now.month} {now.day} {now.year}")

print(now.strftime("%m %d %Y"))
print(now.strftime("%m/%d/%Y"))
print(now.strftime("%m-%d-%Y"))
print(now.strftime("month:%m day:%d year:%Y"))

2023-02-25 15:28:01.823203 <class 'datetime.datetime'>
2 25 2023
02 25 2023
02/25/2023
02-25-2023
month:02 day:25 year:2023

In [106]:
print(now.time())
print(now.date())

15:37:42.618342
2023-02-25

In [107]:
from datetime import time
time_object = time(hour=12, minute=34, second=56, microsecond=78)
print(time_object)

12:34:56.000078

# https://rowannicholls.github.io/python/advanced/datetime.html

In [108]:
time_object = time(12, 34, 56, 78)

print(time_object)

12:34:56.000078

In [111]:
st = '12:34:56.000078'
print(st,type(st))
st = time.fromisoformat(st)
print(st,type(st))

12:34:56.000078 <class 'str'>
12:34:56.000078 <class 'datetime.time'>

In [113]:
from datetime import datetime

# Create a datetime object using the current time and date
datetime_object = datetime.today()
print(datetime_object)
# Extract just the time information as a time object
time_object = datetime_object.time()

print(time_object)

2023-02-25 15:45:12.931988
15:45:12.931988

In [114]:
# Create a string representation of a time
st1 = '12:34:56.000078'
print(st1, type(st1))
# Convert string to a time object
time_object = time.fromisoformat(st1)
print(time_object, type(time_object))# convert int datetime object
# Convert time object to a string
st2 = time.isoformat(time_object)# convert datetime object into string
print(st2, type(st2))

12:34:56.000078 <class 'str'>
12:34:56.000078 <class 'datetime.time'>
12:34:56.000078 <class 'str'>

In [116]:
time_object = time(hour=12, minute=34, second=56, microsecond=78)
print(time_object, type(time_object))
st = time_object.strftime('%I:%M %p')
print(st,type(st))

12:34:56.000078 <class 'datetime.time'>
12:34 PM <class 'str'>

# Date

In [118]:
from datetime import date

In [119]:
date_object = date(2012, 3, 4)

print(date_object)

2012-03-04

In [120]:
date_object = date.fromisoformat('2043-02-01')#string ->date
print(date_object, type(date_object))

date_object = date.isoformat(date_object)# date -> string
print(date_object, type(date_object))

2043-02-01 <class 'datetime.date'>
2043-02-01 <class 'str'>

In [121]:
today = date.today()

print(today)

2023-02-25

# datetime

In [123]:
from datetime import datetime

# Manually create a date object
date_object = date(2012, 3, 4)
print(date_object,type(date_object))
# Manually create a time object
time_object = time(5, 6, 7)
print(time_object, type(time_object))
# Create a datetime object by combining the two
dt = datetime.combine(date_object, time_object)
print(dt, type(dt))

2012-03-04 <class 'datetime.date'>
05:06:07 <class 'datetime.time'>
2012-03-04 05:06:07 <class 'datetime.datetime'>

# datetimevariable.strptime(string, format)

In [126]:
st = '05h06 2012/03/04'
print(st, type(st))

dt = datetime.strptime(st, '%Hh%M %Y/%m/%d')

print(dt, type(dt))

05h06 2012/03/04 <class 'str'>
2012-03-04 05:06:00 <class 'datetime.datetime'>

# 4 Timedelta Objects
```timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)```

In [127]:
from datetime import timedelta

In [129]:
# Manually create a timedelta object
delta = timedelta(1, 2, 3, 4, 5, 6, 7)

print(delta, type(delta))

50 days, 6:05:02.004003 <class 'datetime.timedelta'>

In [132]:
# Manually create a timedelta object
delta = timedelta(weeks=52)

print(delta, type(delta))

364 days, 0:00:00 <class 'datetime.timedelta'>

In [142]:
start_date = date(2021, 10, 1)# date start
end_date = timedelta(hours=50)# create delta 50 hours

a = start_date + end_date # date start add delta 
print(a)# print result start date add delta value then show date

2021-10-03

In [143]:
# Manually create datetime objects
dt = datetime(2001, 2, 3, 4, 5, 6)
# Manually create a timedelta object
delta = timedelta(days=1, hours=2, minutes=3, seconds=4)
# Subtraction
diff = dt - delta

print(f'{delta} before {dt} is {diff}')

1 day, 2:03:04 before 2001-02-03 04:05:06 is 2001-02-02 02:02:02

# Create custom program 
* create own database
* crate login system with your own database

In [144]:
#      username, password
db = [['qasim','as123'],
     ['asif','af123'],
     ['hamza','hz123'],
     ['iqbal','iq123']]

# make signup function

In [154]:
def signup(user,password):
    return [user,password]

signup('qasim077','123')

while True:
    u = input("User")
    p = input('Password')
    if u == 'e' or p == 'e':
        break
    if u not in [i[0] for i in db]:
        db.append(signup(u,p))
    else:
        print(f"{u} already axist!")

Userqasim
Passwordaaa
qasim already axist!
Userqasim077
Password1111
Usere
Passworde

In [155]:
db

[['qasim', 'as123'],
 ['asif', 'af123'],
 ['hamza', 'hz123'],
 ['iqbal', 'iq123'],
 ['aa1', 'aap1'],
 ['bb1', 'bbp1'],
 ['qasim077', '1111']]

In [153]:
[i[0] for i in db]

['qasim', 'asif', 'hamza', 'iqbal', 'aa1', 'bb1']