# linear programming

In [1]:
print("line1")
print("line2")
print("line3")
print("line4")
print("line5")
print("line6")

line1
line2
line3
line4
line5
line6

# Structure programming

In [2]:
for idx in range(1,7):
    print(f"line{idx}")

line1
line2
line3
line4
line5
line6

# We want to manage indivdual object all methods and attributes

In [4]:
s1_name = "Muhammad Qasim"
s1_fname= "Muhammad Aslam"
s1_edu = "MSDS"
def s1_login():pass

s2_name = "Ali"
s2_fname = "Hamza"
s2_eud = "MS"
def s2_login():pass

s3_name = "Kashif"
s3_fname = "Hamza"
s3_eud = "MS"
def s3_login():pass

# OOP (Object Oriented Programming)
* Class
    * constructor/intializer
    * Methods/Action/functions
    * Attributes/properties/fields
    
## There are four plures 
* Inheritance
* Polymorphism
* Abstraction
* Encapsulation
<br><br><br>

* **class:** blue print 
* **constructor/intializer:** this is also a method, call when we create new object of this class. `__init__(self)`

In [14]:
class Student():
    def __init__(self): # constructor
        self.roll = None # attributes/properties
        self.name = None
        self.fname = None
        self.edu = None # attributes/properties
        
    def login(self): # method
        return f"Welcome Dear {self.name}! NED University!"
    
    def profile(self):
        return f"""
        Student Name: {self.name}
        Father's Name: {self.fname}
        Education: {self.edu}
        """

In [15]:
s1 = Student()
s1.roll = 1
s1.name = "Muhammad Qasim"
s1.fname = "Muhammad Aslam"
s1.edu = "MSDS"

In [16]:
s1.login()

'Welcome Dear Muhammad Qasim! NED University!'

In [13]:
print(s1.profile())

        Student Name: Muhammad Qasim
        Father's Name: Muhammad Aslam
        Education: MSDS

dir(s1)

# Now assign roll and name during initailizing the new object

In [34]:
class Student():
    def __init__(self, roll_no, sname, fname):
        self.s_id = roll_no
        self.student_name = sname
        self.father_name = fname
        self.education = None
        self.age = None
        self.gender = None
        
    def login(self):
        return f"Welcome Dear {self.student_name} NED University!"
    
    def profile(self):
        return f"""
Student Name: {self.name}
Father's Name: {self.fname}
Education: {self.edu}
        """

In [35]:
s1 = Student(1,"Muhammad Qasim","Muhammad Aslam")# create new object
s2 = Student(2,"Hamza","Kashif")
s3 = Student(3,"Asif","Abid")

In [36]:
print(s1.s_id,s1.student_name,s1.father_name,s1.education)# attributes calling

1 Muhammad Qasim Muhammad Aslam None

In [37]:
print(s2.s_id,s2.student_name,s2.father_name,s2.education)

2 Hamza Kashif None

In [38]:
print(s3.s_id,s3.student_name,s3.father_name,s3.education)

3 Asif Abid None

In [39]:
s1.education = "MSDS"
s1.student_name = "M.Qasim"
print(s1.s_id,s1.student_name,s1.father_name,s1.education)

1 M.Qasim Muhammad Aslam MSDS

In [40]:
print(s1.login())#method calling
print()
print(s2.login())
print()
print(s3.login())
print()

Welcome Dear M.Qasim NED University!

Welcome Dear Hamza NED University!

Welcome Dear Asif NED University!

# Class Varible

In [50]:
class Student():
    total_student = 0# class Variable
    
    def __init__(self, roll_no, sname, fname):
        self.s_id = roll_no
        self.student_name = sname
        self.father_name = fname
        self.education = None
        self.age = None
        self.gender = None
        Student.total_student += 1 # call class variable
        
    def __del__(self):
        Student.total_student -= 1 # call class variable
        
    def login(self):
        return f"Welcome Dear {self.student_name} NED University!"
    
    def profile(self):
        return f"""
Student Name: {self.name}
Father's Name: {self.fname}
Education: {self.edu}
        """
    
print(Student.total_student) # call class variable   0   
s1 = Student(1,"Muhammad Qasim","Muhammad Aslam")# create new object 0+1=1
print(Student.total_student)  #1     
s2 = Student(2,"Hamza","Kashif")# 1 = 1+1 = 2
print(Student.total_student) # 2
s3 = Student(3,"Asif","Abid") # 2 = 2+1 = 3  
print(Student.total_student) # 3

0
1
2
3

In [51]:
print(s1.total_student)
print(s2.total_student)
print(s3.total_student)
print(Student.total_student) # 3

3
3
3
3

In [52]:
del s1

In [53]:
s1.student_name

NameError: name 's1' is not defined

In [54]:
Student.total_student

2